---
import PersonContactItem from "../../components/PersonContactItem.astro";
import PersonLayout from "../../components/PersonLayout.astro";
import Layout from "../../layouts/Layout.astro";
import { extractName } from "../../utils/extractName";

const fullName = "Szász Evelin";
const { name } = extractName(fullName);
---

<Layout title={`Contact ${fullName}`} fullName={fullName}>
  <PersonLayout fullName={fullName}>
    <main class="relative h-full grid place-items-center">
      <div class="flex flex-col items-center text-center pb-[200px]">
        <PersonContactItem
          name={name}
          title="Email"
          value="neolor@protonmail.com"
        />
        <PersonContactItem
          name={name}
          title="Dribbble"
          value="https://dribbble.com/Lyonixa"
        />
      </div>
    </main>
  </PersonLayout>
</Layout>
