---
import ContactForm from "../../components/ContactForm.astro";
import PersonContactItem from "../../components/PersonContactItem.astro";
import PersonLayout from "../../components/PersonLayout.astro";
import Layout from "../../layouts/Layout.astro";
import { extractName } from "../../utils/extractName";

const fullName = "Szász Evelin";
const { name } = extractName(fullName);
---

<Layout title={`Contact ${fullName}`} fullName={fullName}>
  <PersonLayout fullName={fullName}>
    <main
      class="relative min-h-screen flex justify-center items-center content-center"
    >
      <div
        class="flex flex-col gap-[65px] justify-center items-center text-center"
      >
        <PersonContactItem
          name={name}
          title="Email"
          value="neolor@protonmail.com"
        />
        <PersonContactItem
          name={name}
          title="Dribbble"
          value="https://dribbble.com/Lyonixa"
        />
      </div>
    </main>
    <ContactForm lowercaseName="evelin" />
  </PersonLayout>
</Layout>

<style>
  /*height of header*/
  main {
    min-height: calc(100vh - 97.5px);
  }
</style>
