---
import Layout from "../../layouts/Layout.astro";
import PersonLayout from "../../components/PersonLayout.astro";
import PersonContactItem from "../../components/PersonContactItem.astro";
import { extractName } from "../../utils/extractName";
import ContactForm from "../../components/ContactForm.astro";
import ReactScrollToTop from "../../components/ReactScrollToTop";

const fullName = "Szász Barna";
const { name } = extractName(fullName);
const bgColor = "#0d1205";
---

<Layout title={`Contact ${fullName}`} fullName={fullName}>
  <PersonLayout fullName={fullName} bgColor={bgColor}>
    <main class="relative grid justify-center my-[40px]">
      <div class="flex flex-col gap-[20px] items-center text-center">
        <PersonContactItem
          name={name}
          title="Email"
          value="beroer@protonmail.com"
        />
        <PersonContactItem
          name={name}
          title="GitHub"
          value="https://github.com/waikoo"
        />
        <PersonContactItem
          name={name}
          title="LinkedIn"
          value="https://www.linkedin.com/in/barna-szász-a4a319359/"
        />
        <ReactScrollToTop client:only />
      </div>
    </main>
    <div
      class="motion-safe:animate-fade-right motion-safe:animate-once motion-safe:animate-duration-[1500ms] motion-safe:animate-ease-in-out"
    >
      <ContactForm lowercaseName="barna" />
    </div>
  </PersonLayout>
</Layout>
