---
import Layout from "../../../layouts/Layout.astro";
import PageYProgressBar from "../../../components/PageYProgressBar.astro";
import PersonHeader from "../../../components/PersonHeader.astro";
import EvelinQuizzicalFile from "../../../components/EvelinQuizzicalFile.astro";
import QuizzicalHeroImg from "../../../components/QuizzicalHeroImg.astro";
import { extractName } from "../../../utils/extractName";

const fullName = "Szász Evelin";
const bgColor = "#E1CA02";
const { name, familyName } = extractName(fullName);
---

<Layout title="Quizzical" bgColor={bgColor} fullName={fullName}>
  <PageYProgressBar
    progressBarColor="#1A2E53"
    progressBarBgColor="transparent"
  />
  <PersonHeader
    fullName={fullName}
    familyName={familyName}
    name={name}
    color={bgColor}
    bgColor={bgColor}
  />

  <QuizzicalHeroImg />
  <main class="px-[40px] sm:px-[50px] mx-auto">
    <div
      class="mt-[-31px] sm:mt-[-45px] xl:mt-[-12px] xl:max-w-[1059px] mx-auto"
    >
      <EvelinQuizzicalFile fileTitle="OVERVIEW" bgColor={bgColor} />
    </div>
  </main>
</Layout>
