---
import Layout from "../../../layouts/Layout.astro";
import PageYProgressBar from "../../../components/PageYProgressBar.astro";
import PersonHeader from "../../../components/PersonHeader.astro";
import EvelinQuizzicalFile from "../../../components/EvelinQuizzicalFile.astro";
import QuizzicalHeroImg from "../../../components/QuizzicalHeroImg.astro";
import { extractName } from "../../../utils/extractName";
import EvelinQuizzicalFile2 from "../../../components/EvelinQuizzicalFile2.astro";
import QuizzicalAside from "../../../components/QuizzicalAside.astro";
import EvelinQuizzicalFile3 from "../../../components/EvelinQuizzicalFile3.astro";
import EvelinQuizzicalFile4 from "../../../components/EvelinQuizzicalFile4.astro";
import thriftstudioPreview from "../../../assets/images/thriftstudio_preview.jpg";
import ViewProjectCard from "../../../components/ViewProjectCard.astro";
import rpsPreview from "../../../assets/images/rps.png";

const fullName = "Szász Evelin";
const bgColor = "#E1CA02";
const cardBgColor = "#FFF3D4";
const { name, familyName } = extractName(fullName);
---

<Layout title="Quizzical" bgColor={bgColor} fullName={fullName}>
  <PageYProgressBar
    progressBarColor="#f76331"
    progressBarBgColor="transparent"
  />
  <PersonHeader
    fullName={fullName}
    familyName={familyName}
    name={name}
    color={bgColor}
    bgColor={bgColor}
  />
  <QuizzicalAside bgColor={bgColor} />

  <QuizzicalHeroImg />
  <main
    class="px-[40px] sm:px-[50px] xl:px-[84px] pb-[160px] sm:pb-[300px] xl:pb-[314px] mx-auto max-w-[1536px] font-['Jost'] text-[#001649] overflow-hidden"
  >
    <div
      class="mt-[-31px] sm:mt-[-45px] xl:mt-[-12px] mx-auto flex flex-col gap-[30px] sm:gap-[50px] xl:gap-[80px]"
    >
      <EvelinQuizzicalFile
        fileTitle="OVERVIEW"
        bgColor={bgColor}
        cardBgColor={cardBgColor}
        id="quizzical-overview"
      />

      <EvelinQuizzicalFile2
        fileTitle="IDEATE"
        bgColor={bgColor}
        cardBgColor={cardBgColor}
        id="quizzical-ideate"
      />

      <EvelinQuizzicalFile3
        fileTitle="DESIGN"
        bgColor={bgColor}
        cardBgColor={cardBgColor}
        id="quizzical-design"
      />

      <EvelinQuizzicalFile4
        fileTitle="PROTOTYPE"
        bgColor={bgColor}
        cardBgColor={cardBgColor}
        id="quizzical-prototype"
      />
    </div>
  </main>

  <footer class="relative bg-[#141412] sm:px-[50px] xl:px-[82px]">
    <div
      class="translate-y-[-150px] sm:translate-y-[-88px] xl:translate-y-[-170px] grid grid-cols-2 gap-[152px] sm:gap-[40px] sm:grid-cols-[250px_250px] justify-between w-full xl:grid-cols-[450px_450px] mx-auto h-[250px] sm:h-auto xl:h-[313px]"
    >
      <ViewProjectCard
        name="THRIFTSTUDIO"
        source={thriftstudioPreview}
        borderRadius="rounded-[10px] xl:rounded-[25px]"
        imgClass="block max-w-full"
        arrowColor="#E296F5"
        arrowBg="hsla(0, 0%, 98%, 5%)"
        invertArrow={true}
        imgHeight="386px"
        imgWidth="450px"
        className="absolute bottom-[-45px] left-0 right-0 sm:static sm:bottom-[45px] w-[230px] sm:w-[250px] xl:w-[450px] mx-auto xl:cursor-pointer"
        link="/evelin/projects/thriftstudio"
      />
      <ViewProjectCard
        name="ROCK, PAPER, SCISSORS"
        source={rpsPreview}
        borderRadius="rounded-[10px] xl:rounded-[25px]"
        imgClass="rounded-[10px] xl:rounded-[25px] block max-w-full"
        arrowColor="#E296F5"
        invertArrow={true}
        imgHeight="386px"
        imgWidth="450px"
        arrowBg="hsla(0, 0%, 98%, 5%)"
        className="left-0 right-0 bottom-[-45px] mx-auto xl:cursor-pointer 2xl:max-w-full hidden sm:w-[250px] xl:w-[450px] sm:block"
        link="/evelin/projects/rps"
      />
      <div></div>
    </div>
  </footer>
</Layout>
