---
import PersonHeader from "../../../components/PersonHeader.astro";
import ReactScrollToTop from "../../../components/ReactScrollToTop.tsx";
import Layout from "../../../layouts/Layout.astro";
import EvelinThriftstudioFile from "../../../components/EvelinThriftstudioFile.astro";
import EvelinThriftstudioFile2 from "../../../components/EvelinThriftstudioFile2.astro";
import EvelinThriftstudioFile3 from "../../../components/EvelinThriftstudioFile3.astro";
import EvelinThriftstudioFile4 from "../../../components/EvelinThriftstudioFile4.astro";
import ThriftstudioAside from "../../../components/ThriftstudioAside.astro";
import ThriftstudioHero from "../../../components/ThriftstudioHero.astro";
import ThriftstudioLogo from "../../../components/ThriftstudioLogo.astro";
import PageYProgressBar from "../../../components/PageYProgressBar.astro";

const fullName = "Szász Evelin";
const bgColor = "#d2d62e";
const cardBgColor = "#F9F9F9";
---

<Layout title="Thriftstudio" bgColor={bgColor} fullName={fullName}>
  <PageYProgressBar progressBarColor="#f76331" progressBarBgColor={bgColor} />
  <PersonHeader
    fullName={fullName}
    familyName={"Szász"}
    name={"Evelin"}
    color="black"
    bgColor={bgColor}
  />

  <main
    class="px-[40px] sm:px-[50px] xl:px-[70px] flex flex-col gap-5 xl:gap-10 items-center 2xl:max-w-[1536px] mx-auto font-['Jost'] text-[#1e1e1e] overflow-hidden"
  >
    <div class="flex flex-col justify-center gap-[30px] sm:gap-[20px] xl:gap-0">
      <ThriftstudioLogo />
      <ThriftstudioHero />
    </div>
    <EvelinThriftstudioFile
      fileTitle="OVERVIEW"
      bgColor={bgColor}
      cardBgColor={cardBgColor}
      id={"thriftstudio-overview"}
    />
    <EvelinThriftstudioFile2
      fileTitle="RESEARCH"
      bgColor={bgColor}
      cardBgColor={cardBgColor}
      id={"thriftstudio-research"}
    />
    <EvelinThriftstudioFile3
      fileTitle="IDEATE"
      bgColor={bgColor}
      cardBgColor={cardBgColor}
      id={"thriftstudio-ideate"}
    />
    <EvelinThriftstudioFile4
      fileTitle="DESIGN"
      bgColor={bgColor}
      cardBgColor={cardBgColor}
      id={"thriftstudio-design"}
    />

    <ThriftstudioAside />
    <ReactScrollToTop client:only />
  </main>
</Layout>
