---
import "@fontsource/jost/600.css";
import BarnaMenuLinks from "./BarnaMenuLinks.astro";
import BarnaMenuTags from "./BarnaMenuTags.astro";
import PersonProjectCardDescription from "./PersonProjectCardDescription.astro";
import PersonProjectCardTitle from "./PersonProjectCardTitle.astro";
import PersonProjectCardMedia from "./PersonProjectCardMedia.astro";
const { id, name, description, src, tags, live, github, color } = Astro.props;

const projectWrapper =
  id === 2
    ? "mx-auto grid-cols-[1fr_4fr] "
    : id === 3
      ? "grid-cols-[5fr_2fr]"
      : id === 4
        ? "grid-cols[4fr_1fr] 2xl:grid-cols-[2fr_2fr]"
        : "grid-cols-[4fr_1fr]";
const mediaWrapper =
  id === 2 || id === 4
    ? "col-start-2 col-end-3 row-start-1 row-end-2"
    : "col-start-1 col-end-2";
const textWrapper =
  id === 2 || id === 4
    ? "col-start-1 col-end-2 row-start-1 row-end-2 gap-[20px] text-left"
    : "col-start-2 col-end-3 gap-[28px] text-right";
const textWrapperGrid =
  id === 4 ? "grid-rows-[auto_auto_auto]" : "grid-rows-[auto_auto_auto]";
---

<script>
  import { addClass } from "../utils/addClass";

  const observer = new IntersectionObserver((elements) => addClass(elements));

  const projects = document.querySelectorAll(".project");
  projects.forEach((project) => {
    observer.observe(project);
  });
</script>

<section
  class={`relative grid mt-20 project gap-[30px] grid-rows-[auto] items-center backdrop-blur-lg rounded-[30px] bg-black/5 p-[30px] ${projectWrapper}`}
>
  <div class={`grid ${mediaWrapper} place-items-center `}>
    <PersonProjectCardMedia src={src} description={description} id={id} />
  </div>

  <div
    class={`grid ${textWrapperGrid} h-full items-stretch content-center ${textWrapper}`}
    style={{ color: color }}
  >
    <PersonProjectCardTitle color={color}
      >{name.toUpperCase()}</PersonProjectCardTitle
    >
    <PersonProjectCardDescription
      description={description}
      github={github}
      id={id}
    />
    <div class="flex flex-col gap-[30px]">
      <BarnaMenuTags tags={tags} color={color} id={id} />
      <BarnaMenuLinks live={live} github={github} color={color} id={id} />
    </div>
  </div>
</section>

<style>
  .jost-semibold {
    font-family: "Jost", sans-serif;
    font-weight: 600;
  }

  .project {
    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
    transform: translateX(-200px);
    transition:
      opacity 0.5s var(--ease-out-quad),
      transform 0.5s var(--ease-out-quad);
  }

  .project.in-view {
    opacity: 1;
    transform: translateX(0);
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
</style>
