---
import "@fontsource/jost/600.css";
import BarnaMenuLinks from "./BarnaMenuLinks.astro";
import BarnaMenuTags from "./BarnaMenuTags.astro";
import PersonProjectCardDescription from "./PersonProjectCardDescription.astro";
import PersonProjectCardTitle from "./PersonProjectCardTitle.astro";
import PersonProjectCardMedia from "./PersonProjectCardMedia.astro";
import IconArrow from "./IconArrow.astro";
import { extractName } from "../utils/extractName";
const { id, name, description, src, tags, live, github, color, fullName } =
  Astro.props;
const { name: firstName } = extractName(fullName);
const lowerCasedName = firstName.toLowerCase();
const isInverted = id === 2 || id === 4;
const mediaWrapper = isInverted
  ? "lg:col-start-2 lg:col-end-3 lg:row-start-1 lg:row-end-5"
  : "lg:col-start-1 lg:col-end-2";
const projectWrapper =
  id === 4
    ? "lg:grid-cols-[2fr_3fr]"
    : isInverted
      ? "lg:grid-cols-[1fr_4fr]"
      : "lg:grid-cols-[4fr_1fr]";
---

<script>
  import { addClass } from "../utils/addClass";

  const observer = new IntersectionObserver((elements) => addClass(elements));

  const projects = document.querySelectorAll(".project");
  projects.forEach((project) => {
    observer.observe(project);
  });
</script>

<section
  class={`relative grid project gap-[30px] grid-rows-[auto] items-center justify-items-center backdrop-blur-lg rounded-[30px] bg-black/5 sm:p-[30px] p-[12px] grid-cols-1 ${projectWrapper}`}
>
  <div
    class={`grid ${mediaWrapper} place-items-center row-start-4 row-end-5 ${isInverted ? "" : "lg:cols-start-1 lg:cols-end-2 lg:row-start-1 lg:row-end-5"} ${id === 4 ? "justify-self-center" : ""}`}
  >
    <PersonProjectCardMedia src={src} description={description} id={id} />
  </div>

  <PersonProjectCardTitle
    color={color}
    isInverted={isInverted}
    className={`row-start-1 row-end-2 ${isInverted ? "lg:col-start-1 lg:col-end-2" : "lg:col-start-2 lg:col-end-3 "} lg:row-start-1 lg:row-end-2`}
    >{name.toUpperCase()}</PersonProjectCardTitle
  >
  <PersonProjectCardDescription
    description={description}
    github={github}
    isInverted={isInverted}
    id={id}
    name={name}
    className={`row-start-2 row-end-3 ${isInverted ? "lg:col-start-1 lg:col-end-2" : "lg:col-start-2 lg:col-end-3"}  lg:row-start-2 lg:row-end-3`}
  />
  {
    tags ? (
      <BarnaMenuTags
        tags={tags}
        color={color}
        id={id}
        className={`row-start-3 row-end-4 ${isInverted ? "lg:col-start-1 lg:col-end-2" : "lg:col-start-2 lg:col-end-3"}  lg:row-start-3 lg:row-end-4`}
      />
    ) : null
  }
  {
    fullName.split(" ")[1].toLowerCase() === "evelin" ? (
      <IconArrow
        isInverted={isInverted}
        className={` row-start-3 row-end-4 ${isInverted ? "justify-self-start lg:col-start-1 lg:col-end-2" : "justify-self-end lg:col-start-2 lg:col-end-3"}  ${lowerCasedName === "evelin" ? "lg:row-start-4 lg:row-end-5" : "lg:row-start-3 lg:row-end-4"}`}
      />
    ) : null
  }
  {
    fullName.split(" ")[1].toLowerCase() === "barna" ? (
      <BarnaMenuLinks
        live={live}
        github={github}
        color={color}
        id={id}
        className={`row-start-5 row-end-6 ${isInverted ? "lg:col-start-1 lg:col-end-2" : "lg:col-start-2 lg:col-end-3"}  lg:row-start-4 lg:row-end-5`}
      />
    ) : null
  }
</section>

<style>
  .jost-semibold {
    font-family: "Jost", sans-serif;
    font-weight: 600;
  }

  .project {
    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
    transform: translateX(-200px);
    transition:
      opacity 0.5s var(--ease-out-quad),
      transform 0.5s var(--ease-out-quad);
  }

  .project.in-view {
    opacity: 1;
    transform: translateX(0);
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
</style>
