---
import AnimatedInput from "./AnimatedInput.astro";
import GooeyLoader from "./GooeyLoader.astro";
import IconError from "./IconError.astro";

const { lowercaseName } = Astro.props;

const hoverStyles =
  lowercaseName === "barna"
    ? "hover:drop-shadow-[0_0px_7px_#FFFB20]"
    : "hover:drop-shadow-[0_0px_7px_#efd6f5]";

const focusStyles =
  lowercaseName === "barna"
    ? "focus:drop-shadow-[0_0px_3px_#FFFB20] focus:bg-[#211f0d] focus:autofill:bg-[#211f0d]"
    : "focus:drop-shadow-[0_0px_3px_#efd6f5] focus:bg-[#16000c] focus:autofill:bg-[#16000c]";

const textColor =
  lowercaseName === "barna" ? "text-[#d9d62d]" : "text-[#efd6f5]";

const buttonTextColor =
  lowercaseName === "barna" ? "text-[#d9d62d]" : "text-[#e296f5]";

const labelColor =
  lowercaseName === "barna" ? "text-[#b2ae2b]" : "text-[#d2b0da]";

const labelFloatingColor =
  lowercaseName === "barna"
    ? "peer-focus:text-[#d9d62d]"
    : "peer-focus:text-[#efd6f5]";

const borderColor =
  lowercaseName === "barna" ? "border-[#5a6736]" : "border-[#371239]";

const buttonBorderColor =
  lowercaseName === "barna" ? "border-[#FFFB20]" : "border-[#e296f5]";

const accessKeyValue =
  lowercaseName === "barna"
    ? "d032e227-e2b3-4964-b784-933cb84ca68b"
    : "b25d7ea5-8cc0-45a8-a1fa-e6c0ae790097";

const selectionColors =
  lowercaseName === "barna"
    ? "selection:bg-[#FFFB20] selection:text-[#0d1205]"
    : "selection:bg-[#efd6f5] selection:text-[#0d1205]";

const outlineColor =
  lowercaseName === "barna" ? "outline-[#FFFB20]" : "outline-[#efd6f5]";

const personColor = lowercaseName === "barna" ? "#FFFB20" : "#efd6f5";
const personFocusColor = lowercaseName === "barna" ? "#211f0d" : "#16000c";
const errorBorderColor =
  lowercaseName === "barna" ? "border-[#a9bbcb]" : "border-[#d2b0da]";
const errorTextColor =
  lowercaseName === "barna" ? "text-[#a9bbcb]" : "text-[#d2b0da]";
const buttonWhileLoadingColor =
  lowercaseName === "barna"
    ? "bg-[#FFFB20] text-black"
    : "bg-[#efd6f5] text-black";
const successTextColor =
  lowercaseName === "barna" ? "text-[#A0B982]" : "text-[#d2b0da]";
const successShadowColor =
  lowercaseName === "barna"
    ? "shadow-[0_0_10px_0_#447E1D]"
    : "shadow-[0_0_11px_0_#5f2382]";
const successOuterGradient =
  lowercaseName === "barna"
    ? "bg-linear-to-r from-[#11180a] via-[#1e3108] via-54% to-[#101309]"
    : "bg-linear-to-r from-[#2b023a] from-11% via-[#580c84] via-50% to-[#260135] to-90%";
const successBorderColor =
  lowercaseName === "barna" ? "border-[#3b7319]" : "border-[#7912b3]";
---

<script>
  import axios from "axios";

  const form = document.getElementById("contact-form") as HTMLFormElement;
  const errorBorderColor = form?.dataset.errorBorderColor;
  const buttonWhileLoadingColor = form?.dataset.buttonWhileLoadingColor;

  window.addEventListener("DOMContentLoaded", () => {
    const loader = document.getElementById("loader");
    const sendText = document.getElementById("send-text");
    const button = document.getElementById("button");
    const messageError = document.getElementById("message-error");
    const emailError = document.getElementById("email-error");
    const emailInvalid = document.getElementById("email-invalid");
    const emailInput = document.getElementById("email") as HTMLInputElement;
    const messageInput = document.getElementById("message") as HTMLInputElement;
    const nameInput = document.getElementById("name") as HTMLInputElement;
    const emailRegex = /^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$/;

    if (!form || !emailInput || !messageInput || !emailError || !messageError) {
      console.error("Required form elements not found");
      return;
    }

    emailInput.addEventListener("blur", () => {
      if (emailInput.value.trim() !== "") {
        if (emailInput.value.match(emailRegex)) {
          emailInput.classList.remove(errorBorderColor as string);
          emailError?.classList.add("hidden");
          emailInvalid?.classList.add("hidden");
        } else {
          emailInput.classList.add(errorBorderColor as string);
          emailInvalid?.classList.remove("hidden");
          emailError?.classList.add("hidden");
        }
      } else {
        emailInput.classList.remove(errorBorderColor as string);
        emailError?.classList.add("hidden");
        emailInvalid?.classList.add("hidden");
      }
    });

    emailInput.addEventListener("input", () => {
      if (emailInput.value.match(emailRegex)) {
        emailInput.classList.remove(errorBorderColor as string);
        emailError?.classList.add("hidden");
        emailInvalid?.classList.add("hidden");
      }
    });

    messageInput.addEventListener("input", () => {
      if (messageInput.value.length > 0) {
        messageInput.classList.remove(errorBorderColor as string);
        messageError?.classList.add("hidden");
      }
    });

    messageInput.addEventListener("blur", () => {
      messageInput.classList.remove(errorBorderColor as string);
      messageError?.classList.add("hidden");
    });

    form.addEventListener("submit", (e) => {
      e.preventDefault();

      if (
        (messageInput.value.trim() === "" && emailInput.value.trim() === "") ||
        !emailInput.value.match(emailRegex)
      ) {
        messageInput.classList.add(errorBorderColor as string);
        emailInput.classList.add(errorBorderColor as string);
        messageError?.classList.remove("hidden");
        emailError?.classList.remove("hidden");
        return;
      }

      if (emailInput.value === "") {
        emailInput.classList.add(errorBorderColor as string);
        emailError?.classList.remove("hidden");
        return;
      } else {
        if (emailInput.value.match(emailRegex)) {
          emailInput.classList.remove(errorBorderColor as string);
          emailError?.classList.add("hidden");
        } else {
          emailInput.classList.add(errorBorderColor as string);
          emailError?.classList.remove("hidden");
          return;
        }
      }

      if (messageInput.value === "") {
        messageInput.classList.add(errorBorderColor as string);
        messageError?.classList.remove("hidden");
        return;
      } else {
        messageInput.classList.remove(errorBorderColor as string);
        messageError?.classList.add("hidden");
      }

      if (loader) {
        loader.classList.remove("hidden");
        button?.classList.add(buttonWhileLoadingColor as string);
      }
      if (sendText) {
        sendText.classList.add("hidden");
      }
      const formData = new FormData(form);
      const formObject = Object.fromEntries(formData);

      axios
        .post("https://api.web3forms.com/submit", formObject)
        .then(async (res) => {
          if (res.status === 200) {
            const successMessage = document.getElementById("success-message");
            if (successMessage) {
              successMessage.classList.add("animate-up");
              successMessage.classList.remove("hidden");
            }
            setTimeout(() => {
              if (successMessage) {
                successMessage.classList.remove("animate-up");
                successMessage.classList.add("animate-down");
                setTimeout(() => {
                  successMessage.classList.add("hidden");
                }, 500);
              }
            }, 4000);
          } else {
            console.log(res);
          }
        })
        .catch((error) => {
          console.log(error);
          // something went wrong
        })
        .then(() => {
          if (loader) {
            loader.classList.add("hidden");
          }
          if (sendText) {
            sendText.classList.remove("hidden");
          }
          if (button) {
            button.classList.remove("bg-[#fffb20]");
            button.classList.remove("text-black");
          }

          messageInput.value = "";
          emailInput.value = "";
          nameInput.value = "";
          // form.reset();
          setTimeout(() => {}, 500);
        });
    });
  });
</script>

<section
  class={`font-['Jost'] ${textColor} mb-20 w-full xl:flex xl:max-w-[1011px] xl:mx-auto xl:gap-[100px]`}
>
  <h2
    class="relative grid place-items-center mx-auto text-[50px] sm:text-[100px] font-bold leading-[-30px]"
  >
    <div class="grid grid-cols-1">
      <span class="block col-start-1 col-end-2 row-start-1 row-end-2"
        >Let's</span
      >
      <span
        class="mt-[-30px] sm:mt-[-60px] block col-start-1 col-end-2 row-start-2 row-end-3"
        >Connect</span
      >
    </div>
  </h2>
  <form
    method="POST"
    id="contact-form"
    class="relative flex flex-col mx-auto flex
    flex-col gap-[35px] w-[75%] mt-5 sm:w-[528px]"
    data-error-border-color={errorBorderColor}
    button-while-loading-color={buttonWhileLoadingColor}
  >
    <input type="hidden" name="access_key" value={accessKeyValue} />

    <AnimatedInput
      type="text"
      name="name"
      label="Name"
      borderColor={borderColor}
      selectionColors={selectionColors}
      focusStyles={focusStyles}
      personColor={personColor}
      labelColor={labelColor}
      labelFloatingColor={labelFloatingColor}
      personFocusColor={personFocusColor}
      errorTextColor={errorTextColor}
    />
    <AnimatedInput
      type="email"
      name="email"
      label="*Email"
      borderColor={borderColor}
      selectionColors={selectionColors}
      focusStyles={focusStyles}
      personColor={personColor}
      labelColor={labelColor}
      labelFloatingColor={labelFloatingColor}
      personFocusColor={personFocusColor}
      errorTextColor={errorTextColor}
    />
    <div class="relative group">
      <textarea
        name="message"
        id="message"
        placeholder=" "
        spellcheck={false}
        class={`peer rounded-[20px] ${borderColor} ${selectionColors} ${focusStyles} border-[2px] backdrop-blur-lg p-2 duration-300 h-[200px] transition-all shadow-[inset_0_0_20px_rgba(0,0,0,0.7)] w-full block pl-4 placeholder-transparent focus:placeholder-transparent text-opacity-100 focus:text-opacity-100 placeholder-shown:text-opacity-0 ${outlineColor} outline-none`}
      ></textarea>
      <label
        for="message"
        class={`absolute ${labelColor} ${labelFloatingColor} left-[11px] top-[-24px] peer-placeholder-shown:top-2.5 peer-focus:top-[-24px] transition-all peer-focus:-top-6.5 text-[17px] pl-1 peer-placeholder-shown:text-base`}
        >*Message</label
      >
      <p
        class={`text-[15px] ${errorTextColor} flex items-center justify-end gap-2 hidden`}
        id="message-error"
      >
        <IconError errorTextColor={errorTextColor} />Please enter your message
      </p>
    </div>

    <button
      class={`uppercase border-[1px] ${buttonBorderColor} ${buttonTextColor} font-medium rounded-full p-2 w-full sm:w-[200px] sm:mx-auto block send cursor-pointer transition:all backdrop-blur-lg ${hoverStyles} ${outlineColor}`}
      type="submit"
      id="button"
    >
      <span id="send-text">Send</span>
      <div class="flex justify-center hidden" id="loader">
        {
          lowercaseName === "barna" && (
            <GooeyLoader
              color1="before:bg-yellow-400"
              color2="after:bg-[#176128]"
            />
          )
        }
        {
          lowercaseName === "evelin" && (
            <GooeyLoader
              color1="before:bg-[#e296f5]"
              color2="after:bg-[#7912b3]"
            />
          )
        }
      </div>
    </button>
  </form>

  <section
    class={`fixed left-0 right-0 bottom-10 mx-auto animate-up grid place-items-center  rounded-full w-[80%] max-w-[300px] lg:max-w-full h-[72px] sm:w-[50%] lg:w-[550px] lg:h-[70px] ${successShadowColor} ${successOuterGradient} ${successBorderColor} border-[4px] hidden`}
    id="success-message"
  >
    <div
      class={`absolute font-['Jost'] text-center lg:flex gap-2 lg:text-[20px] ${successTextColor}`}
    >
      <p class="whitespace-nowrap">Message sent successfully!</p>
      <p class="whitespace-nowrap">Thank you for reaching out.</p>
    </div>
  </section>
</section>

<style>
  .animate-up {
    animation: up 0.5s ease-in-out;
  }
  .animate-down {
    animation: down 0.5s ease-in-out;
  }
  @keyframes down {
    from {
      transform: translateY(0px);
      opacity: 100%;
    }
    to {
      transform: translateY(100px);
      opacity: 0;
    }
  }
  @keyframes up {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 100%;
    }
  }
</style>
