---
import EvelinFilePainPoint from "./EvelinFilePainPoint.astro";
import EvelinFileWrapper from "./EvelinFileWrapper.astro";
import ReactImageWrapper from "./ReactImageWrapper";
import ShadyNumber from "./ShadyNumber.astro";
import data from "../thriftstudioKeyFeatures.ts";
import EvelinFileResearchGoal from "./EvelinFileResearchGoal.astro";
import "@fontsource/jost/500.css";
import ExpandDetails from "./ExpandDetails.astro";

const { fileTitle, bgColor, cardBgColor, id } = Astro.props;
---

<EvelinFileWrapper
  title={fileTitle}
  bgColor={bgColor}
  cardBgColor={cardBgColor}
  id={id}
  paddingX="px-[10px] sm:px-[50px]"
  paddingY="py-[80px] sm:py-[90px] xl:py-[130px]"
>
  <h3
    class="text-[21px] sm:text-[26px] xl:text-[40px] text-[#1e1e1e] font-extrabold text-center"
  >
    WIREFRAMES
  </h3>
  <p
    class="mt-[20px] mx-[-20px] p-[20px] border-[#C8C9AC] border-t-[1px] border-b-[1px] text-[#1E1E1E] leading-[23px] sm:rounded-[15px] xl:rounded-[20px]"
  >
    I adopted a <strong>mobile-first approach</strong> in the initial sketching phase
    to ensure an intuitive user experience starting with the smallest screens. By
    focusing on mobile first, I was able to <strong
      >prioritize essential content</strong
    > and <strong>simplify interactions</strong>, ensuring that users would have
    an efficient experience even in constrained environments.
  </p>

  <ReactImageWrapper
    invertIcon={true}
    client:only
    imgClassName="rounded-[5px]"
    className="mt-[20px]"
    src="thriftstudio_paper_wireframe"
    alt="paper wireframe for the thriftstudio app"
  />

  <EvelinFilePainPoint bgColor={bgColor} className="mt-[40px] w-[90%] mx-auto"
    ><strong>I started with laying out the key features:</strong
    ></EvelinFilePainPoint
  >

  <div class="flex flex-col gap-[13px] mt-[23px]">
    {
      data.map((item, i) => {
        return (
          <div class="flex items-center gap-[10px] text-[16px]">
            <ShadyNumber>{i + 1}</ShadyNumber>
            <p class="leading-[17px]">{item.text}</p>
          </div>
        );
      })
    }
  </div>

  <p class="bg-[#EDEAF6] p-[20px] mx-[-10px]">
    After finalizing the initial sketches, I transitioned to <strong
      >digital wireframes</strong
    >, prioritizing the key features. I designed both the primary and
    supplementary pages to establish a comprehensive user flow, ensuring the
    design was ready for user testing. I focused on <strong
      >three primary user tasks</strong
    > to evaluate the effectiveness of key interactions:
  </p>

  <ReactImageWrapper
    invertIcon={true}
    client:only
    className="mt-[25px]"
    src="thriftstudio_prototype"
    alt="prototype for the thriftstudio app"
  />

  <h4 class="text-[17px] font-bold">USABILITY TESTING</h4>

  <h5 class="text-[16px] font-bold">Goals:</h5>
  <div class="flex flex-col gap-[3px]">
    <EvelinFileResearchGoal
      >assess whether users can successfully complete key tasks within the
      prototype</EvelinFileResearchGoal
    >

    <EvelinFileResearchGoal>
      evaluate the intuitiveness and usability of the prototype</EvelinFileResearchGoal
    >
  </div>

  <h5 class="text-[16px] font-bold mt-[30px]">Research questions:</h5>

  <div class="flex flex-col gap-[3px]">
    <EvelinFileResearchGoal
      >what can we learn from the steps that users take to complete each task?</EvelinFileResearchGoal
    >

    <EvelinFileResearchGoal
      >are there parts of the user flow where users get stuck?</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal
      >do the users find the filter saving feature helpful and/or useful?</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal
      >are there design changes that would make each task easier and/or faster
      for the users?</EvelinFileResearchGoal
    >
  </div>

  <h5 class="text-[16px] font-bold mt-[30px]">Tasks</h5>
  <ol
    class="flex flex-col gap-[3px] list-decimal list-outside w-[100%] mx-auto pl-[20px] font-medium"
  >
    <li>Access your account and add a new shipping address</li>
    <li>Create and save a filter for "Brown sweaters in size 38"</li>
    <li>
      Used the saved filter to find a product, add it to your cart, and complete
      the purchase
    </li>
  </ol>

  <h4 class="text-[15px] font-bold mt-[50px]">USABILITY TEST FINDINGS</h4>

  <div class="flex flex-col gap-[13px]">
    <EvelinFileResearchGoal noBg={true}
      >Participants found the Account menu overwhelming due to the numerous
      subsections and the need to navigate back and forth</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal noBg={true}
      >The radio button in the saved address section caused confusion, as its
      purpose (indicating the default address) was unclear</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal noBg={true}
      >Participants disliked that each filter section opened on a new page
      slowing the process, and found the “Type” list confusing, as it mixed
      product categories with options like “New in” and “Sale”</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal noBg={true}
      >Participants suggested adding color names to the color selection for
      better clarity</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal noBg={true}
      >While the filter saving feature was appreciated, accessing it was
      considered too cumbersome</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal noBg={true}
      >Participants completed the checkout process smoothly but expressed a
      desire to see the cart total on every checkout page</EvelinFileResearchGoal
    >
  </div>

  <h3 class="text-center text-[17px] font-bold mt-[40px]">CHANGES</h3>

  <ExpandDetails
    bgColor={bgColor}
    iconId="thriftstudio_usability_test_icon"
    slotId="thriftstudio_usability_test_slot"
    className="mt-[20px]"
  >
    <h4 class="font-bold text-[16px]">
      To address user frustrations with the account menu:
    </h4>

    <EvelinFilePainPoint bgColor={bgColor}
      >I redesigned the navigation layout, replacing the vertical scrolling menu
      with horizontal scrolling, allowing users to access any section of their
      account with fewer clicks</EvelinFilePainPoint
    >
    <EvelinFilePainPoint bgColor={bgColor}
      >The saved address card was revamped by replacing the confusing radio
      button and hidden menu with clearly visible editing options, enabling
      users to edit, delete, or set a default address with a single click</EvelinFilePainPoint
    >

    <EvelinFilePainPoint bgColor={bgColor}
      >The default address is now visually highlighted for added clarity</EvelinFilePainPoint
    >

    <h4 class="font-bold text-[16px]">To improve the filters section:</h4>

    <EvelinFilePainPoint bgColor={bgColor}
      >I reorganized and divided filter categories to better align with their
      content, making it easier for users to locate and customize filters
      according to their preferences</EvelinFilePainPoint
    >
    <EvelinFilePainPoint bgColor={bgColor}
      >Each filter category now uses a dropdown list instead of separate pages,
      with added icons for quick open/close actions, along with "Collapse All"
      and "Clear All" buttons for seamless navigation</EvelinFilePainPoint
    >
    <EvelinFilePainPoint bgColor={bgColor}
      >I included color names to enhance clarity in the color filter</EvelinFilePainPoint
    >
    <EvelinFilePainPoint bgColor={bgColor}
      >To improve access to saved filters, I separated them from the filtering
      page, introduced a dedicated button on the product page, and integrated
      them into the search function</EvelinFilePainPoint
    >
  </ExpandDetails>

  <ReactImageWrapper
    invertIcon={true}
    client:only
    className="mt-[26px]"
    src="thriftstudio_before_after"
    alt="user interface before and after usability testing for the thriftstudio app"
  />
</EvelinFileWrapper>
