---
import EvelinFileSegment from "./EvelinFileSegment.astro";
import EvelinFileWrapper from "./EvelinFileWrapper.astro";
import EvelinMap from "./EvelinMap.astro";

interface Props {
  fileTitle: string;
  bgColor: string;
  fgColor?: string;
  cardBgColor: string;
  id: string;
}

const { fileTitle, bgColor, cardBgColor, id } = Astro.props;
---

<EvelinFileWrapper
  title={fileTitle}
  bgColor={bgColor}
  cardBgColor={cardBgColor}
  id={id}
  paddingX="px-[20px] 2xl:px-0"
  paddingY="py-[80px] sm:py-[90px] xl:py-[130px]"
>
  <div class="px-[10px] xl:py-[10px] mx-auto">
    <div
      class="xl:grid xl:grid-cols-[7fr_4fr] xl:max-w-[1059px] xl:items-center xl:gap-[102px]"
    >
      <EvelinFileSegment
        title="THE PRODUCT"
        bgColor={bgColor}
        className="xl:col-start-1 xl:col-end-2"
        titleStyles="font-extrabold"
        pClass="xl:text-[18px]"
      >
        Quizzical is a <strong>browser-based trivia game</strong> with a responsive
        design, that challenges users with engaging questions across various topics.
        The project began with the game's API as the foundation, providing me the
        opportunity to independently design the layout and user flow of the game.
      </EvelinFileSegment>

      <div
        class="mt-[40px] sm:mb-[20px] xl:my-0 xl:col-start-2 xl:col-end-3 xl:row-start-1 xl:row-end-2"
      >
        <EvelinMap title="ROLE" bgColor={bgColor}>UI Designer</EvelinMap>
        <EvelinMap title="TOOLS" bgColor={bgColor}>Figma</EvelinMap>
        <EvelinMap title="CONTEXT" bgColor={bgColor}
          ><p class="text-[14px] sm:text-[16px] xl:text-[17px] ml-2">
            Design created for my husband's “Quizzical” capstone project in
            Scrimba's Frontend Developer Career Path course
          </p></EvelinMap
        >
      </div>
    </div>
  </div>
</EvelinFileWrapper>
