---
import EvelinFileWrapper from "./EvelinFileWrapper.astro";
import EvelinFilePainPoint from "./EvelinFilePainPoint.astro";
import MustardBgTitle from "./MustardBgTitle.astro";
import ReactImageWrapper from "./ReactImageWrapper";

const { fileTitle, bgColor, cardBgColor, id } = Astro.props;
---

<EvelinFileWrapper
  title={fileTitle}
  bgColor={bgColor}
  cardBgColor={cardBgColor}
  id={id}
  paddingX="px-[20px] sm:px-[50px] xl:px-[30px] 2xl:px-[172px]"
  paddingY="py-[80px] sm:py-[90px] xl:py-[130px]"
>
  <h3
    class="mb-[50px] sm:mb-[45px] xl:mb-[65px] text-[21px] sm:text-[26px] xl:text-[40px] text-[#1e1e1e] font-extrabold text-center"
  >
    INFORMATION ARCHITECTURE
  </h3>

  <p
    class="text-[15px] sm:text-[16px] xl:text-[17px] bg-[#e7e3f567] p-5 sm:rounded-[15px] xl:rounded-[20px] mx-[-20px] sm:mx-0"
  >
    Understanding <strong
      >who the users are, what they seek, and how quickly they can achieve their
      goals was central to shaping the website’s structure.</strong
    > To achieve this, I prioritized presenting <strong
      >critical information</strong
    > and enabling <strong
      >multiple browsing options directly within the hero</strong
    >
    section, ensuring easy access from the moment users arrive. My guiding principle
    for developing the information architecture was to create <strong
      >a delightful user experience</strong
    >, catering effectively to <strong
      >the needs of both new and returning users</strong
    >.
  </p>

  <h4
    class="text-right text-[17px] sm:text-[21px] xl:text-[32px] text-[#1e1e1e] font-bold mt-[50px]"
  >
    SITEMAP
  </h4>

  <p
    class="text-[15px] sm:text-[16px] xl:text-[17px] bg-[#f9f9f9] border-[#e7e3f5] border-[1px] mt-[30px] mb-[50px] p-5 sm:rounded-[15px] xl:rounded-[20px]"
  >
    The following Sitemap outlines the <strong>main sections and pages</strong> of
    the thrift store website. It is designed to <strong
      >prioritize easy access to key functions</strong
    > like searching for specific items based on previously <strong
      >saved filters, browsing inventory, and checking out.</strong
    >
  </p>

  <ReactImageWrapper
    invertIcon={true}
    client:only
    className=""
    src="sitemap"
    alt="sitemap for the thriftstudio app"
  />

  <h4
    class="text-[#1e1e1e] text-[17px] sm:text-[21px] xl:text-[32px] font-bold mt-[80px]"
  >
    USER FLOW
  </h4>
  <EvelinFilePainPoint
    bgColor={bgColor}
    className="mt-[20px] mb-[50px] sm:text-[16px]"
    >The primary path to browsing and purchasing a desired item from the thrift
    store website</EvelinFilePainPoint
  >

  <ReactImageWrapper
    invertIcon={true}
    client:only
    className=""
    src="user_flow"
    alt="user flow for the thriftstudio app"
  />

  <h4
    class="mt-32 text-[#1e1e1e] text-[17px] sm:text-[21px] xl:text-[32px] font-bold text-right"
  >
    STORYBOARDS
  </h4>
  <p
    class="mt-10 bg-[#E8E9C3] p-5 border-[1px] text-[15px] sm:text-[16px] xl:text-[17px] sm:rounded-[15px] xl:rounded-[20px]"
  >
    The <strong>user flow</strong> provided a <strong
      >blueprint for how users navigate</strong
    > through the website to find and purchase products. The following <strong
      >storyboards illustrate this journey in a real-life context</strong
    >, showing how users interact with the platform and the environment in which
    they are using it. While the user flow focuses on the interactions within
    the digital space, the storyboards depict the <strong
      >emotions, motivations, and external factors</strong
    > that shape the overall experience.
  </p>

  <div
    class="text-[12px] sm:text-[15px] xl:text-[16px] xl:justify-center xl:flex mt-[70px]"
  >
    <span class="font-black sm:text-[15px]">SCENARIO:</span>
    <p class="pl-0 xl:pl-2 font-semibold sm:text-[15px]">
      A WEBSITE THAT ALLOWS USERS TO QUICKLY SHOP FROM THE THRIFT STORE ON THE
      GO
    </p>
  </div>

  <MustardBgTitle>BIG PICTURE STORYBOARD</MustardBgTitle>

  <ReactImageWrapper
    invertIcon={true}
    client:only
    className="mt-[25px] sm:mt-[30px] xl:mt-[40px]"
    src="big_picture_storyboard"
    alt="big picture storyboard for the thriftstudio app"
  />

  <MustardBgTitle className="text-right">CLOSE-UP STORYBOARD</MustardBgTitle>

  <ReactImageWrapper
    invertIcon={true}
    client:only
    className="mt-[25px] sm:mt-[30px] xl:mt-[40px]"
    src="close-up_storyboard"
    alt="big picture storyboard for the thriftstudio app"
  />
</EvelinFileWrapper>
