---
import DynamicImgSrc from "./DynamicImgSrc";
import EvelinFilePainPoint from "./EvelinFilePainPoint.astro";
import EvelinFileResearchGoal from "./EvelinFileResearchGoal.astro";
import EvelinFileWrapper from "./EvelinFileWrapper.astro";
import ReactImageWrapper from "./ReactImageWrapper.tsx";
import { competitiveAnalysis } from "../projects/evelinThriftstudioData.js";
import ParagraphWithBulletPoint from "./ParagraphWithBulletPoint.astro";

const { fileTitle, bgColor, cardBgColor, id } = Astro.props;
---

<EvelinFileWrapper
  title={fileTitle}
  bgColor={bgColor}
  cardBgColor={cardBgColor}
  id={id}
  paddingX="px-[20px] sm:px-[30px] xl:px-[0px] 2xl:px-[172px]"
  paddingY="py-[80px] sm:py-[90px] xl:py-[130px]"
>
  <span
    class="block text-center font-semibold text-[12px] sm:text-[15px] xl:text-[20px]"
    >METHOD 1.</span
  >
  <h3
    class="text-center font-extrabold text-[21px] sm:text-[26px] xl:text-[40px]"
  >
    INTERVIEW
  </h3>
  <h4
    class="text-right mt-[40px] font-bold text-[17px] sm:text-[21px] xl:text-[32px]"
  >
    RESEARCH GOALS
  </h4>

  <ul
    class="flex flex-col gap-[3px] sm:gap-[6px] xl:gap-[12px] mt-[13px] items-end sm:items-end xl:flex-wrap xl:justify-end xl:flex-row xl:max-w-[950px] xl:ml-auto"
  >
    <EvelinFileResearchGoal>
      exploring how users shop at thrift stores</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal
      >identifying gaps in the online stores they use</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal
      >discovering ways to enhance their shopping experience</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal
      >understanding their difficulties with online shopping</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal
      >identifying challenges they face while shopping in person</EvelinFileResearchGoal
    >
  </ul>

  <div
    class="xl:flex xl:flex-row-reverse xl:justify-between xl:gap-10 xl:mt-[90px]"
  >
    <p
      class="text-[15px] sm:text-[15px] text-center border-[1px] border-[#c8c9ac] mt-[30px] p-2 flex-1 xl:p-8 xl:text-left xl:text-[16px] xl:mt-0 rounded-[10px] sm:rounded-[15px] xl:rounded-[20px]"
    >
      I conducted interviews to understand the users I’m designing for and their
      needs. A primary user group identified through research was adults who
      don’t have time to go thrift shopping. This user group confirmed initial
      assumptions about thrift store customers, but research revealed that time
      was not the only factor limiting users from going to thrift stores. Other
      user problems included obligations, interests, or challenges that make it
      difficult to go to thrift stores in person, or to catch periodic sales and
      new arrivals.
    </p>

    <div class="flex-1">
      <h4
        class="text-left text-[17px] font-bold mt-[50px] sm:text-[21px] xl:text-[32px] xl:mt-0"
      >
        PAIN POINTS
      </h4>

      <div class="mt-[15px] font-semibold flex flex-col gap-[10px]">
        <EvelinFilePainPoint bgColor={bgColor}
          >Working adults are too busy to spend time on thrift shopping in
          person</EvelinFilePainPoint
        >
        <EvelinFilePainPoint bgColor={bgColor}
          >Price, size and labels are often difficult to find or understand in
          thrift stores</EvelinFilePainPoint
        >
        <EvelinFilePainPoint bgColor={bgColor}
          >Not being able to keep up with discounts, missing them entirely or
          best items being already sold</EvelinFilePainPoint
        >
      </div>
    </div>
  </div>

  <h4
    class="text-right text-[#1e1e1e] font-bold text-[21px] xl:text-[32px] mt-[50px] xl:mt-[75px]"
  >
    USER PERSONA
  </h4>

  <div class="xl:mt-[50px]">
    <blockquote
      class="bg-[#e3e8ed] text-[#1e1e1e] mt-[30px] text-center p-2 font-light text-[15px] sm:text-[16px] xl:text-[21px] xl:px-[16px] xl:w-fit mx-auto rounded-[5px]"
    >
      "I love the idea of thrift shops! I just wish I could rummage online."
    </blockquote>
  </div>

  <ReactImageWrapper
    invertIcon={true}
    client:only
    className="mt-[25px] xl:mt-[35px] cursor-pointer"
    src="user_persona"
    alt="user persona for Thriftstudio, representing the target audience"
  />

  <div class="text-center sm:text-left">
    <h5
      class="bg-[#D2d62E] text-[16px] sm:text-[16px] xl:text-[24px] font-bold mt-[40px] inline-block mx-auto px-2 py-1 text-[#1e1e1e] rounded-[5px]"
    >
      PROBLEM STATEMENT
    </h5>
  </div>

  <p
    class="uppercase text-[14px] sm:text-[16px] xl:text-[18px] font-semibold text-center sm:text-left mt-[20px] leading-tight"
  >
    Romy is a busy student, who needs quick and easy online access to the thrift
    store, because she doesn’t have time to thrift in person.
  </p>

  <h4
    class="text-right text-[17px] sm:text-[21px] xl:text-[32px] font-bold mt-[55px] xl:mt-[65px] text-[#1e1e1e]"
  >
    USER JOURNEY MAP
  </h4>

  <ReactImageWrapper
    invertIcon={true}
    client:only
    className="mt-[30px] xl:mt-[30px]"
    src="journey_map"
    alt="user journey map for Thriftstudio, illustrating the steps a user takes when shopping for secondhand products"
  />

  <span
    class="mt-[100px] text-center block font-semibold text-[12px] sm:text-[15px] xl:text-[20px] text-[#1e1e1e]"
    >METHOD 2.</span
  >
  <h3
    class="text-center font-extrabold text-[21px] sm:text-[26px] xl:text-[40px] leading-none text-[#1e1e1e]"
  >
    COMPETITIVE ANALYSIS
  </h3>

  <!-- React component -->
  <div class="mt-[22px]">
    <DynamicImgSrc
      showByDefault={0}
      items={competitiveAnalysis}
      cardBgColor={cardBgColor}
      isCompetitiveAnalysis={true}
      client:only
    />

    <div class="xl:grid grid-cols-2 justify-between gap-10">
      <div>
        <p
          class="text-[17px] sm:text-[18px] xl:text-[24px] mt-[40px] sm:mt-[50px] xl:mt-[80px]"
        >
          Some <strong>gaps</strong> I identified:
        </p>

        <div class="text-[15px] sm:text-[16px] xl:text-[18px]">
          <ParagraphWithBulletPoint>
            Competitor products don’t offer an <strong
              >online thrift shop linked to a physical store</strong
            >
          </ParagraphWithBulletPoint>

          <ParagraphWithBulletPoint>
            Competitor products provide <strong
              >ordering only through an account</strong
            >
          </ParagraphWithBulletPoint>

          <ParagraphWithBulletPoint>
            <strong>Wishlist, Cart and Filter features</strong> are <strong
              >not optimized</strong
            > enough for a fast and seamless shopping experience
          </ParagraphWithBulletPoint>
        </div>
      </div>

      <div class="text-[15px] sm:text-[16px] xl:text-[18px]">
        <p
          class="text-[17px] sm:text-[18px] xl:text-[24px] mt-[40px] sm:mt-[50px] xl:mt-[80px]"
        >
          Some <strong>opportunities</strong> I identified:
        </p>

        <ParagraphWithBulletPoint>
          Building a <strong>responsive website for a thrift store</strong>,
          where customers can see <strong>the</strong>
          physical store’s actual products
        </ParagraphWithBulletPoint>

        <ParagraphWithBulletPoint>
          Enabling quick, <strong>account-free purchases</strong>
        </ParagraphWithBulletPoint>

        <ParagraphWithBulletPoint>
          Offering <strong>personalized notifications</strong> for discounts and
          new arrivals based on <strong>filters saved by the user</strong>
        </ParagraphWithBulletPoint>

        <ParagraphWithBulletPoint>
          Providing <strong>bulk-edit</strong> in Wishlist and Cart pages
        </ParagraphWithBulletPoint>
      </div>
    </div>
  </div>
</EvelinFileWrapper>
