---
import EvelinFilePainPoint from "./EvelinFilePainPoint.astro";
import EvelinFileWrapper from "./EvelinFileWrapper.astro";
import ReactImageWrapper from "./ReactImageWrapper";
import ShadyNumber from "./ShadyNumber.astro";
import thriftstudioKeyFeatures from "../thriftstudioKeyFeatures.ts";
import EvelinFileResearchGoal from "./EvelinFileResearchGoal.astro";
import ExpandDetails from "./ExpandDetails.astro";
import "@fontsource/jost/500.css";

const { fileTitle, bgColor, cardBgColor, id } = Astro.props;
---

<EvelinFileWrapper
  title={fileTitle}
  bgColor={bgColor}
  cardBgColor={cardBgColor}
  id={id}
  paddingX="px-[20px] sm:px-[50px] xl:px-[30px] 2xl:px-[172px]"
  paddingY="py-[80px] sm:py-[90px] xl:py-[130px]"
>
  <h3
    class="text-[21px] sm:text-[26px] sm:text-[26px] xl:text-[40px] text-[#1e1e1e] font-extrabold text-center"
  >
    WIREFRAMES
  </h3>

  <p
    class="mt-[20px] mx-[-20px] p-[20px] border-[#C8C9AC] border-t-[1px] border-b-[1px] text-[#1E1E1E] leading-[23px] sm:border-0 sm:mx-0 sm:rounded-[15px] sm:bg-[#E8E9C4] xl:rounded-[20px]"
  >
    I adopted a <strong>mobile-first approach</strong> in the initial sketching phase
    to ensure an intuitive user experience starting with the smallest screens. By
    focusing on mobile first, I was able to <strong
      >prioritize essential content</strong
    > and <strong>simplify interactions</strong>, ensuring that users would have
    an efficient experience even in constrained environments.
  </p>

  <div
    class="xl:flex xl:flex-row-reverse xl:justify-between xl:items-center xl:gap-[70px] xl:px-[78px] xl:mx-auto"
  >
    <ReactImageWrapper
      invertIcon={true}
      client:only
      imgClassName="rounded-[5px]"
      className="mt-[30px] xl:mt-[70px]"
      src="thriftstudio_paper_wireframe"
      alt="paper wireframe for the thriftstudio app"
    />

    <div class="">
      <EvelinFilePainPoint
        bgColor={bgColor}
        textSize="text-[16px]"
        className="mt-[40px] sm:mt-[30px] w-[90%] mx-auto"
        ><strong>I started with laying out the key features:</strong
        ></EvelinFilePainPoint
      >

      <div class="flex flex-col gap-[13px] mt-[23px] sm:mt-[20px] xl:pl-[15px]">
        {
          thriftstudioKeyFeatures.map((item, i) => {
            return (
              <div class="flex items-center gap-[10px] xl:gap-[15px] text-[16px] xl:text-[17px]">
                <ShadyNumber>{i + 1}</ShadyNumber>
                <p class="leading-[17px]">{item.text}</p>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>

  <p
    class="bg-[#EDEAF6] p-[20px] sm:p-[24px] sm:rounded-[15px] mx-[-20px] sm:mx-0 mt-[25px] sm:mt-[50px] xl:mt-[40px]"
  >
    After finalizing the initial sketches, I transitioned to <strong
      >digital wireframes</strong
    >, prioritizing the key features. I designed both the primary and
    supplementary pages to establish a comprehensive user flow, ensuring the
    design was ready for user testing. I focused on <strong
      >three primary user tasks</strong
    > to evaluate the effectiveness of key interactions:
  </p>

  <ReactImageWrapper
    invertIcon={true}
    client:only
    className="mt-[25px] sm:mt-[30px] xl:mt-[40px]"
    src="thriftstudio_prototype"
    alt="prototype for the thriftstudio app"
  />

  <h4
    class="text-[17px] sm:text-[21px] xl:text-[32px] mt-[50px] xl:mt-[80px] font-bold"
  >
    USABILITY TESTING
  </h4>

  <section
    class="xl:grid xl:grid-cols-[1fr_286px] xl:gap-[94px] xl:items-center"
  >
    <div>
      <h5
        class="text-[16px] font-bold mt-[30px] sm:mt-[40px] sm:text-[15px] xl:text-[18px]"
      >
        Goals:
      </h5>
      <ul class="flex flex-col gap-[3px] xl:gap-[12px]">
        <EvelinFileResearchGoal
          bgColor="bg-[#EDEAF6]"
          padding="p-[12px]"
          textSize="text-[15px] xl:text-[16px]"
          className="sm:leading-[14px] xl:tracking-[0.5px] mt-[20px]"
          >assess whether users can successfully complete key tasks within the
          prototype</EvelinFileResearchGoal
        >

        <EvelinFileResearchGoal
          bgColor="bg-[#EDEAF6]"
          padding="p-[12px]"
          textSize="text-[15px] xl:text-[16px]"
          className="xl:tracking-[0.5px] sm:leading-[14px]"
        >
          evaluate the intuitiveness and usability of the prototype</EvelinFileResearchGoal
        >
      </ul>

      <h5
        class="text-[16px] font-bold mt-[30px] mt-[40px] sm:text-[15px] xl:text-[18px]"
      >
        Research questions:
      </h5>

      <ul class="flex flex-col gap-[3px] xl:gap-[12px] mt-[20px]">
        <EvelinFileResearchGoal
          bgColor="bg-[#EDEAF6]"
          padding="p-[12px]"
          textSize="text-[15px] xl:text-[16px]"
          className="xl:tracking-[0.5px] sm:leading-[14px]"
          >what can we learn from the steps that users take to complete each
          task?</EvelinFileResearchGoal
        >

        <EvelinFileResearchGoal
          bgColor="bg-[#EDEAF6]"
          padding="p-[12px]"
          textSize="text-[15px] xl:text-[16px]"
          className="xl:tracking-[0.5px] sm:leading-[14px]"
          >are there parts of the user flow where users get stuck?</EvelinFileResearchGoal
        >
        <EvelinFileResearchGoal
          bgColor="bg-[#EDEAF6]"
          padding="p-[12px]"
          textSize="text-[15px] xl:text-[16px]"
          className="xl:tracking-[0.5px] sm:leading-[14px]"
          >do the users find the filter saving feature helpful and/or useful?</EvelinFileResearchGoal
        >
        <EvelinFileResearchGoal
          bgColor="bg-[#EDEAF6]"
          padding="p-[12px]"
          textSize="text-[15px] xl:text-[16px]"
          className="xl:tracking-[0.5px] sm:leading-[14px]"
          >are there design changes that would make each task easier and/or
          faster for the users?</EvelinFileResearchGoal
        >
      </ul>
    </div>

    <div>
      <h5 class="text-[16px] font-bold ml-[3px] mt-[30px]">Tasks</h5>
      <ol
        class="flex flex-col gap-[3px] list-decimal list-outside w-[100%] mx-auto pl-[20px] sm:mt-[20px] font-medium"
      >
        <li>Access your account and add a new shipping address</li>
        <li>Create and save a filter for "Brown sweaters in size 38"</li>
        <li>
          Used the saved filter to find a product, add it to your cart, and
          complete the purchase
        </li>
      </ol>
    </div>
  </section>

  <h4
    class="text-[15px] sm:text-[17px] uppercase xl:normal-case sm:text-center font-bold mt-[50px] xl:text-left"
  >
    Usability test findings<span class="hidden xl:inline">:</span>
  </h4>

  <div
    class="flex flex-col gap-[13px] sm:gap-[20px] xl:gap-[5px] mt-[15px] sm:mt-[20px] sm:border-[1px] sm:border-[#E8E9C4] sm:rounded-[15px] sm:py-[10px]"
  >
    <EvelinFileResearchGoal
      noBg={true}
      className=""
      padding="px-0"
      textSize="text-[16px]"
      >Participants found the Account menu overwhelming due to the numerous
      subsections and the need to navigate back and forth</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal noBg={true} padding="px-0" textSize="text-[16px]"
      >The radio button in the saved address section caused confusion, as its
      purpose (indicating the default address) was unclear</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal noBg={true} padding="px-0" textSize="text-[16px]"
      >Participants disliked that each filter section opened on a new page
      slowing the process, and found the “Type” list confusing, as it mixed
      product categories with options like “New in” and “Sale”</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal noBg={true} padding="px-0" textSize="text-[16px]"
      >Participants suggested adding color names to the color selection for
      better clarity</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal noBg={true} padding="px-0" textSize="text-[16px]"
      >While the filter saving feature was appreciated, accessing it was
      considered too cumbersome</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal noBg={true} padding="px-0" textSize="text-[16px]"
      >Participants completed the checkout process smoothly but expressed a
      desire to see the cart total on every checkout page</EvelinFileResearchGoal
    >
  </div>

  <h3
    class="text-center text-[17px] sm:text-[21px] xl:text-[24px] font-bold mt-[40px] sm:mt-[95px]"
  >
    CHANGES
  </h3>

  <ExpandDetails
    bgColor={bgColor}
    iconId="thriftstudio_usability_test_icon"
    slotId="thriftstudio_usability_test_slot"
    buttonId="thriftstudio_usability_test_button"
    className="mt-[20px] sm:mt-[30px]"
  >
    <section class="xl:grid xl:grid-cols-2 xl:gap-[75px]">
      <div>
        <h4 class="font-bold text-[16px]">
          To address user frustrations with the account menu:
        </h4>

        <EvelinFilePainPoint bgColor={bgColor} className="sm:mt-[30px]"
          >I redesigned the navigation layout, replacing the vertical scrolling
          menu with horizontal scrolling, allowing users to access any section
          of their account with fewer clicks</EvelinFilePainPoint
        >
        <EvelinFilePainPoint bgColor={bgColor} className="sm:mt-[20px]"
          >The saved address card was revamped by replacing the confusing radio
          button and hidden menu with clearly visible editing options, enabling
          users to edit, delete, or set a default address with a single click</EvelinFilePainPoint
        >

        <EvelinFilePainPoint bgColor={bgColor} className="sm:mt-[20px]"
          >The default address is now visually highlighted for added clarity</EvelinFilePainPoint
        >
      </div>

      <div>
        <h4 class="font-bold text-[16px] sm:mt-[40px] xl:mt-0">
          To improve the filters section:
        </h4>

        <div class="flex flex-col gap-[20px] sm:mt-[30px]">
          <EvelinFilePainPoint bgColor={bgColor}
            >I reorganized and divided filter categories to better align with
            their content, making it easier for users to locate and customize
            filters according to their preferences</EvelinFilePainPoint
          >
          <EvelinFilePainPoint bgColor={bgColor}
            >Each filter category now uses a dropdown list instead of separate
            pages, with added icons for quick open/close actions, along with
            "Collapse All" and "Clear All" buttons for seamless navigation</EvelinFilePainPoint
          >
          <EvelinFilePainPoint bgColor={bgColor}
            >I included color names to enhance clarity in the color filter</EvelinFilePainPoint
          >
          <EvelinFilePainPoint bgColor={bgColor}
            >To improve access to saved filters, I separated them from the
            filtering page, introduced a dedicated button on the product page,
            and integrated them into the search function</EvelinFilePainPoint
          >
        </div>
      </div>
    </section>
  </ExpandDetails>

  <ReactImageWrapper
    invertIcon={true}
    client:only
    className="mt-[26px] sm:mt-[80px]"
    src="thriftstudio_before_after"
    alt="user interface before and after usability testing for the thriftstudio app"
  />
</EvelinFileWrapper>
