---
const { title, bgColor, className, cardBgColor, id, paddingX, paddingY } =
  Astro.props;
---

<article
  style={{ backgroundColor: cardBgColor }}
  class={`relative rounded-[20px_0px_20px_20px] sm:rounded-[20px]] w-full ${className} sm:max-w-[839px] xl:min-w-[1112px] xl:max-w-[1059px] 2xl:max-w-[1396px] mx-auto`}
>
  <div
    class="absolute top-[-1px] right-[-1px] px-[8px] xl:px-[16px]"
    style={{ backgroundColor: bgColor }}
  >
    <h2
      class={`font-bold text-[26px] sm:text-[35px] xl:text-[55px] tracking-[-2px] xl:tracking-[-6px] px-[12px]]`}
      id={id}
    >
      {title}
    </h2>
  </div>

  <section
    class={`${paddingX} ${paddingY} sm:text-[16px] mx-auto sm:max-w-[680px] xl:max-w-[1059px] 2xl:max-w-[1396px]`}
  >
    <slot />
  </section>
</article>
