---
import EvelinFilePainPoint from "./EvelinFilePainPoint.astro";
import EvelinFileWrapper from "./EvelinFileWrapper.astro";
import ReactImageWrapper from "./ReactImageWrapper";
import ShadyNumber from "./ShadyNumber.astro";
import data from "../thriftstudioKeyFeatures.ts";

const { fileTitle, bgColor, cardBgColor, id } = Astro.props;
---

<EvelinFileWrapper
  title={fileTitle}
  bgColor={bgColor}
  cardBgColor={cardBgColor}
  id={id}
  paddingX="px-[10px] sm:px-[50px]"
  paddingY="py-[80px] sm:py-[90px] xl:py-[130px]"
>
  <h3
    class="text-[21px] sm:text-[26px] xl:text-[40px] text-[#1e1e1e] font-extrabold text-center"
  >
    WIREFRAMES
  </h3>
  <p
    class="mt-[20px] mx-[-20px] p-[20px] border-[#C8C9AC] border-t-[1px] border-b-[1px] text-[#1E1E1E] leading-[23px] sm:rounded-[15px] xl:rounded-[20px]"
  >
    I adopted a <strong>mobile-first approach</strong> in the initial sketching phase
    to ensure an intuitive user experience starting with the smallest screens. By
    focusing on mobile first, I was able to <strong
      >prioritize essential content</strong
    > and <strong>simplify interactions</strong>, ensuring that users would have
    an efficient experience even in constrained environments.
  </p>

  <ReactImageWrapper
    invertIcon={true}
    client:only
    imgClassName="rounded-[5px]"
    className="mt-[20px]"
    src="thriftstudio_paper_wireframe"
    alt="paper wireframe for the thriftstudio app"
  />

  <EvelinFilePainPoint bgColor={bgColor} className="mt-[40px] w-[90%] mx-auto"
    ><strong>I started with laying out the key features:</strong
    ></EvelinFilePainPoint
  >

  <div class="flex flex-col gap-[13px] mt-[23px]">
    {
      data.map((item, i) => {
        return (
          <div class="flex items-center gap-[10px] text-[16px]">
            <ShadyNumber>{i + 1}</ShadyNumber>
            <p class="leading-[17px]">{item.text}</p>
          </div>
        );
      })
    }
  </div>

  <p class="bg-[#EDEAF6] p-[20px] mx-[-10px]">
    After finalizing the initial sketches, I transitioned to <strong
      >digital wireframes</strong
    >, prioritizing the key features. I designed both the primary and
    supplementary pages to establish a comprehensive user flow, ensuring the
    design was ready for user testing. I focused on <strong
      >three primary user tasks</strong
    > to evaluate the effectiveness of key interactions:
  </p>

  <ReactImageWrapper
    invertIcon={true}
    client:only
    className="mt-[25px]"
    src="thriftstudio_prototype"
    alt="prototype for the thriftstudio app"
  />
</EvelinFileWrapper>
