---
import ThriftstudioDesignQuickLinks from "./ThriftstudioDesignQuickLinks.astro";

const {
  title,
  bgColor,
  className,
  cardBgColor,
  id,
  paddingX,
  paddingY,
  quickLinkMargin,
} = Astro.props;
const showOverlayOnTablet = title === "DESIGN" ? "sm:block" : "";
---

<article
  style={{ backgroundColor: cardBgColor }}
  class={`relative rounded-[20px_0px_20px_20px] sm:rounded-[20px] w-full ${className} sm:max-w-[839px] xl:min-w-[1112px] xl:max-w-[1396px] mx-auto first-of-type:mt-[40px] ${quickLinkMargin}`}
>
  <ThriftstudioDesignQuickLinks
    className={`${title === "DESIGN" && quickLinkMargin ? "hidden sm:block transform sm:translate-y-[-32px] xl:translate-y-[-38px] xl:top-[124px] sm:top-[130px] z-[10] sm:bg-[#D2D62E] xl:pl-[40px]" : ""}`}
  />
  <div
    class={`absolute top-[-1px] right-[-1px] xl:px-[16px] sm:rounded-tr-[20px]`}
    style={{ backgroundColor: bgColor }}
  >
    <h2
      class={`font-bold text-[26px] sm:text-[35px] xl:text-[55px] tracking-[-2px] xl:tracking-[-6px] leading-[34px] px-[6px] sm:px-[8px] sm:leading-[41px] xl:px-[0px] xl:leading-[69px]`}
      id={id}
    >
      {title}
    </h2>
  </div>

  <div
    class={`absolute top-0 right-0 px-[8px] xl:px-[16px] sm:rounded-tr-[20px] bg-[#f9f9f9] text-[#1e1e1e] hidden ${showOverlayOnTablet} xl:hidden`}
  >
    <h2
      class="font-bold text-[26px] sm:text-[35px] xl:text-[55px] tracking-[-2px] xl:tracking-[-6px] px-[12px]"
    >
      DESIGN
    </h2>
  </div>

  <section
    class={`${paddingX} ${paddingY} sm:text-[16px] mx-auto sm:max-w-[680px] xl:max-w-[1059px] 2xl:max-w-[1396px] relative z-[2]`}
  >
    <slot />
  </section>
</article>
