---
import BlueBg from "./BlueBg.astro";
import EnlargedPicture from "./EnlargedPicture.astro";
import EvelinFileWrapper from "./EvelinFileWrapper.astro";
import QuizzicalSitemap from "./QuizzicalSitemap.astro";
import QuizzicalUserFlowCustom from "./QuizzicalUserFlowCustom.astro";
import QuizzicalUserFlowDefault from "./QuizzicalUserFlowDefault.astro";
import WithBorderParagraph from "./WithBorderParagraph.astro";
import WithMagnifyingGlass from "./WithMagnifyingGlass";
import WithSmallTriangle from "./WithSmallTriangle.astro";
import ReactClientOnlyWrapper from "./ReactClientOnlyWrapper.tsx";
import ReactQuizzicalSitemap from "./ReactQuizzicalSitemap.tsx";
import { Image } from "astro:assets";

const { fileTitle, bgColor, cardBgColor, id } = Astro.props;
---

<EvelinFileWrapper
  title={fileTitle}
  bgColor={bgColor}
  cardBgColor={cardBgColor}
  id={id}
  paddingX="px-[20px] sm:px-[30px] 2xl:px-0"
  paddingY="py-[80px] sm:py-[90px] xl:py-[130px]"
>
  <h3
    class="font-extrabold text-[21px] sm:text-[26px] xl:text-[40px] text-center leading-[20px]"
  >
    INFORMATION ARCHITECTURE
  </h3>
  <BlueBg className="mt-[20px] sm:mt-[70px] xl:mt-[80px]">
    I began by identifying and <strong>laying out all the components</strong> of
    the game to gain a comprehensive overview. Next, I organized the content and
    <strong>established a clear hierarchy</strong> to define the navigation, menus,
    and overall structural layout. This process ensured that all necessary information
    was accounted for and logically arranged, creating a <strong
      >solid foundation</strong
    > for designing
    <strong>intuitive interactions</strong>.
  </BlueBg>

  <h4
    class="font-bold text-[17px] sm:text-[21px] xl:text-[32px] mt-[40px] sm:mt-[70px] xl:mt-[80px] text-right pb-[10px] xl:pb-0"
  >
    SITEMAP
  </h4>

  <WithBorderParagraph
    className="mt-[20px] sm:mt-[40px] xl:mt-[30px] mx-[-20px] xl:mx-0"
  >
    The following Sitemap outlines the <strong>main sections</strong> of the game.
    It is designed to <strong>prioritize easy access to key functions</strong> like
    starting a new game or customizing default settings for a personalized experience.
  </WithBorderParagraph>

  <ReactQuizzicalSitemap imgName="quizzical_sitemap" client:only />

  <h4
    class="font-bold text-[17px] sm:text-[21px] xl:text-[32px] font-['Jost'] mt-[30px] xl:mt-[80px] text-left pb-[10px] xl:pb-0 ml-[-10px] xl:ml-0"
  >
    USER FLOW
  </h4>

  <WithBorderParagraph className="xl:mx-0 mt-[30px]">
    From the outset, it was evident that <strong
      >prioritizing speed and efficiency</strong
    > was essential for this lightweight, single-player, no-login browser game for
    a
    <strong>seamless experience</strong>. This requirement guided the decision
    to implement the game using conditional rendering rather than endpoints. As
    a result, navigation is confined to the game’s interface, with users unable
    to move back and forth through the URL. With this approach established, I
    developed the two primary user flows.
  </WithBorderParagraph>

  <div class="flex flex-col gap-[30px] pt-[40px]">
    <div class="flex flex-col gap-[20px]">
      <WithSmallTriangle triangleColor={bgColor} triangleInside={true}
        ><strong>The primary path to start a new game</strong> (with default settings),
        including replaying options</WithSmallTriangle
      >

      <WithMagnifyingGlass className="mt-[10px]" invert={true} client:only>
        <QuizzicalUserFlowDefault imgSelector="quizzical-default-user-flow" />
      </WithMagnifyingGlass>

      <EnlargedPicture
        imgSelector="quizzical-default-user-flow"
        modalSelector="quizzical-default-user-flow-modal"
        modalClose="quizzical-default-user-flow-modal-close"
      >
        <QuizzicalUserFlowDefault imgSelector="quizzical-default-user-flow" />
      </EnlargedPicture>
    </div>

    <div class="flex flex-col gap-[20px] mt-[20px]">
      <WithSmallTriangle triangleColor={bgColor} triangleInside={true}>
        <strong>The primary path to play a customized game</strong>, including
        replaying options
      </WithSmallTriangle>

      <WithMagnifyingGlass className="mt-[10px]" invert={true} client:only>
        <QuizzicalUserFlowCustom imgSelector="quizzical-custom-user-flow" />
      </WithMagnifyingGlass>

      <EnlargedPicture
        imgSelector="quizzical-custom-user-flow"
        modalSelector="quizzical-custom-user-flow-modal"
        modalClose="quizzical-custom-user-flow-modal-close"
      >
        <QuizzicalUserFlowCustom />
      </EnlargedPicture>
    </div>
  </div>
</EvelinFileWrapper>
