---
import EvelinFileWrapper from "./EvelinFileWrapper.astro";
import VideoAutoplay from "./VideoAutoplay.astro";
import TextWithArrow from "./TextWithArrow.astro";

const { fileTitle, bgColor, cardBgColor, id } = Astro.props;
const quizzicalPrototypeHref =
  "https://www.figma.com/proto/rYHpeGA58sDsEux8FwsCpJ/Portfolio-neolor?node-id=1858-668&t=Fw0gNf4CedjVq9xb-1&scaling=scale-down&content-scaling=fixed&page-id=1094%3A56";
---

<EvelinFileWrapper
  title={fileTitle}
  bgColor={bgColor}
  cardBgColor={cardBgColor}
  id={id}
  paddingX="px-[20px] xl:px-0 2xl:px-[172px]"
  paddingY="py-[80px] sm:py-[90px] xl:py-[130px]"
>
  <div class="flex flex-col gap-[20px]">
    <VideoAutoplay name="quizzical_prototype" />

    <a
      class="flex items-center justify-center gap-[5px] font-medium text-[16px]"
      href={quizzicalPrototypeHref}
    >
      <TextWithArrow
        text="View Figma Prototype"
        arrowColor="#001649"
        arrowBgColor="#FFEEC2"
        invertArrow={true}
        className="xl:text-[18px]"
      />
    </a>
  </div>

  <div
    class="mt-[30px] mx-[-20px] xl:mx-[-45px] 2xl:mx-[-170px] xl:mt-[130px] 2xl:mt-[80px]"
    style={{ borderBottom: `2px dotted ${bgColor}` }}
  >
  </div>

  <div class="2xl:max-w-[992px] mx-auto sm:px-[50px] 2xl:mt-[70px]">
    <h5
      class="text-[21px] sm:text-[26px] sm:mt-[60px] xl:mt-[100px] xl:text-[40px] font-extrabold leading-none mt-[40px] mb-[20px]"
    >
      CONCLUSIONS
    </h5>

    <p class="mt-[30px] sm:mt-[20px] xl:mt-[40px] 2xl:text-[18px]">
      This project was a rewarding challenge that pushed me out of my comfort
      zone into the realm of game design—a field I had little prior experience
      in. When my husband asked if I could design something for his front-end
      capstone project, I excitedly took the opportunity. By following a
      structured design process and focusing on one step at a time, I was able
      to deliver a cohesive design more efficiently than I anticipated.
      Additionally, collaborating with a developer enhanced my communication
      skills and strengthened my adaptability as I navigated challenges that
      arose during the transition from design to a fully playable game.
    </p>
  </div>
</EvelinFileWrapper>
