---
import BlueBg from "./BlueBg.astro";
import EvelinFileWrapper from "./EvelinFileWrapper.astro";
import MyImage from "./MyImage.astro";
import QuizzicalArrowDown from "./QuizzicalArrowDown.astro";
import QuizzicalTitle from "./QuizzicalTitle.astro";
import WithMagnifyingGlass from "./WithMagnifyingGlass.tsx";
import WithSmallTriangle from "./WithSmallTriangle.astro";
import DynamicImgSrc from "./DynamicImgSrc.tsx";
import DifferentFontSrc from "./DifferentFontSrc.tsx";
import "@fontsource/monoton";
import ReactImageWrapper from "./ReactImageWrapper";
import ReactImage from "./ReactImage";

const { fileTitle, bgColor, cardBgColor, id } = Astro.props;
---

<EvelinFileWrapper
  title={fileTitle}
  bgColor={bgColor}
  cardBgColor={cardBgColor}
  id={id}
  paddingX="px-[20px] sm:px-[30px] xl:px-[30px] 2xl:px-0"
  paddingY="py-[80px] sm:py-[90px] xl:py-[130px]"
>
  <h3
    class="text-[21px] sm:text-[26px] xl:text-[40px] font-extrabold text-center"
  >
    WIREFRAMES
  </h3>

  <BlueBg className="mt-[20px] sm:mt-[70px] xl:mt-[80px]">
    Ensuring a <strong>consistent experience</strong> across all screen sizes was
    a key priority from the beginning. I adopted a <strong
      >desktop-first approach</strong
    >, as the game is not content-heavy, allowing me to focus on every detail
    and prevent the interface from feeling sparse on larger screens. A <strong
      >center-positioned layout</strong
    >
    was selected for its <strong>scalability</strong>, providing a <strong
      >balanced and cohesive design</strong
    >
    that adapts well across devices. This approach ensures that <strong
      >users can easily transition between devices</strong
    > without needing to re-learn the layout, allowing them to focus solely on the
    game.
  </BlueBg>

  <WithSmallTriangle
    triangleColor={bgColor}
    triangleInside={true}
    className="mt-[40px] mb-[20px] xl:mt-[60px] xl:mb-[40px]"
    >During the wireframing process, I designed the four essential screens that
    make up the entire structure of the game’s interface</WithSmallTriangle
  >

  <ReactImageWrapper invertIcon={true} client:only
    ><ReactImage src="quizzical_wireframes" />
  </ReactImageWrapper>

  <h3
    class="text-[21px] sm:text-[26px] xl:text-[40px] font-extrabold mt-[80px] sm:mt-[90px] xl:mt-[180px] 2xl:mt-[100px] text-center"
  >
    STYLE DEFINITION
  </h3>
  <BlueBg className="mt-[20px] sm:mt-[70px] xl:mt-[80px] 2xl:mt-[60px]">
    With full creative control over the game's aesthetics, I aimed to create a
    design that felt both <strong>playful and intriguing</strong>, using colors
    and forms to evoke curiosity. I chose an <strong
      >abstract visual style</strong
    > rather than illustrating individual categories to maintain a sense of mystery
    and engagement for the players. The design approach prioritizes <strong
      >simplicity, cleanliness, and consistency</strong
    > throughout.
  </BlueBg>
  <h4
    class="text-[17px] 2xl:text-[32px] font-bold mt-[40px] sm:mt-[70px] xl:mt-[130px] 2xl:mt-[100px] py-1 sm:text-right"
  >
    BACKGROUND
  </h4>
  <div
    class="border-y-[#E1CA02] border-y-[1px] sm:border-[1px] sm:border-[#E1CA02] p-[20px] mx-[-20px] sm:mx-auto sm:mt-[40px] xl:mt-[50px] 2xl:xl:mt-[25px]"
  >
    <div class="">
      <picture>
        <source srcset="/images/quizzical_bg.avif" type="image/avif" />
        <source srcset="/images/quizzical_bg.webp" type="image/webp" />
        <img
          src="/images/quizzical_bg.png"
          alt="background image used for the quizzical app"
          class="block max-w-full"
        />
      </picture>
    </div>
    <p class="mt-[20px] text-[14px] xl:text-[18px]">
      To align with the conditional rendering architecture, I designed a <strong
        >single background image</strong
      > to serve as the <strong>foundation for the entire game</strong>. This
      choice ensures <strong>visual continuity</strong>, reinforcing the
      seamless experience even as the interface changes. Since the URL remains
      static, it was crucial to <strong
        >ensure that the design transitions felt cohesive</strong
      >, avoiding any confusion that might arise from appearing to navigate to
      entirely new pages.
    </p>
  </div>

  <div>
    <h4
      class="text-[17px] sm:text-[21px] xl:text-[32px] font-bold mt-[40px] xl:mt-[130px] py-1 leading-[18px] mb-[10px] whitespace-nowrap"
    >
      COLORS & TYPOGRAPHY
    </h4>
    <section
      class="xl:grid xl:grid-cols-[371px_574px] xl:items-center xl:content-center xl:justify-between xl:gap-[30px]"
    >
      <p class="text-[14px] xl:text-[18px] sm:mt-[40px] w-[95%] 2xl:w-full">
        The background image served as the foundation for establishing the color
        scheme and typography, <strong>setting the overall tone </strong>for the
        design. The theme blends <strong>modern</strong> and <strong
          >retro</strong
        > aesthetics with <strong>vibrant</strong> and <strong>sleek</strong> elements,
        creating a joyful and refreshing user experience. To enhance the playful
        aesthetic, I thoughtfully selected a <strong
          >variety of complementary fonts and colors</strong
        >, carefully considering their frequency and relevance within the
        design.
      </p>

      <MyImage
        imgName="quizzical_primary_secondary_colors"
        imgAlt="primary and secondary colors used in the quizzical app"
        className="mt-[20px]"
      />
    </section>
  </div>

  <div
    class="xl:grid xl:grid-cols-[781px_246px] xl:items-center xl:mt-[103px] gap-[35px]"
  >
    <section
      class="grid grid-cols-[auto_1fr] gap-[17px] mt-[40px] xl:col-start-2 xl:col-end-3 xl:row-start-1 xl:row-end-2"
    >
      <QuizzicalArrowDown />
      <div class="">
        <h5 class="text-[15px] font-bold leading-none">BUTTONS</h5>
        <p
          class="text-[14px] sm:text-[18px] mt-[11px] xl:mt-0 leading-[26px] xl:content-center h-full"
        >
          The "Play" button, as the most important element, incorporates the
          highest number of distinct colors. From there, <strong
            >I progressively reduced the number of colors</strong
          > used to maintain a clear visual hierarchy.
        </p>
      </div>
    </section>

    <MyImage
      imgName="quizzical_play_tryagain_settings_colors"
      imgAlt="all the colors of buttons used in the quizzical app"
      className="mt-[20px] xl:col-start-1 xl:col-end-2 xl:row-start-1 xl:row-end-2"
    />
  </div>

  <section
    class="xl:grid xl:grid-cols-[3fr_5fr] 2xl:grid-cols-2 gap-[100px] content-center items-center xl:mt-[116px] 2xl:mt-[56px]"
  >
    <div class="grid place-items-center h-full 2xl:h-auto 2xl:block">
      <QuizzicalTitle
        className="mt-[40px] sm:mt-[70px] xl:mt-0 whitespace-nowrap"
      />
      <p
        class="font-['Monoton'] sm:text-[30px] xl:text-[52px] 2xl:text-[40px] text-center mt-[-7px] 2xl:whitespace-nowrap"
      >
        MONOTON REGULAR
      </p>

      <p class="text-[14px] xl:text-[18px] py-[20px]">
        The logo features the <strong>Monoton Regular typeface</strong> with a custom
        modification. To enhance readability and visual balance, the letter "Q" was
        styled as an uppercase character but scaled down to match the size of the
        lowercase letters. This approach was taken because the lowercase "Q" lacked
        the clarity and coherence of the other letters, <strong>ensuring</strong
        > the logo remained
        <strong>both distinctive and legible</strong>.
      </p>
    </div>

    <div class="xl:self-center h-full relative">
      <MyImage
        imgName="quizzical_logo_colors"
        imgAlt="entire color palette used in the quizzical app"
        className="mb-[20px]"
      />
    </div>
  </section>

  <section
    class="sm:grid grid-cols-[200px_250px] xl:grid-cols-[459px_478px] 2xl:grid-cols-[351px_auto] gap-[30px] xl:gap-[94px] items-center 2xl:mt-[70px]"
  >
    <MyImage
      imgName="quizzical_logo_example"
      imgAlt="the two versions of the logo used in the quizzical app"
      className="mb-[20px]"
    />

    <p class="text-[14px] xl:text-[18px]">
      I envisioned the <strong
        >large logo being prominently displayed on the start screen</strong
      >, drawing inspiration from the bold, attention-grabbing designs of board
      game covers. On subsequent screens, the logo was scaled down and made
      clickable, serving as <strong>a consistent navigation element</strong> that
      allows users to quickly return to the start screen. This approach balances
      <strong>visual impact with functional usability</strong>.
    </p>
  </section>

  <section
    class="sm:grid sm:grid-cols-[1fr_337px] 2xl:grid-cols-[337px_1fr] sm:items-center sm:gap-[11px] pt-[40px]"
  >
    <DifferentFontSrc
      className="sm:mr-[-40px] xl:mr-[-36px] 2xl:col-start-2 2xl:col-end-3 2xl:mr-[-154px] 2xl:row-start-1 2xl:row-end-2"
      client:only
    />
    <p
      class="text-[14px] xl:text-[18px] 2xl:col-start-1 2xl:col-end-2 2xl:row-span-1 2xl:row-start-1 2xl:row-end-2 2xl:pt-[99px]"
    >
      For the typography I have chosen <strong>three different fonts</strong>,
      each selected to enhance the <strong>playful and dynamic</strong> feel of the
      game while maintaining clarity and readability.
    </p>
  </section>

  <h5
    class="text-[17px] 2xl:text-[32px] font-bold leading-none mt-[40px] mb-[20px] 2xl:mt-[80px]"
  >
    COMPONENTS
  </h5>

  <section
    class="xl:grid xl:grid-cols-[677px_287px] xl:gap-[88px] items-center"
  >
    <ReactImageWrapper invertIcon={true} client:only
      ><ReactImage src="quizzical_game_components" />
    </ReactImageWrapper>

    <div class="text-[14px] xl:text-[18px] mt-[20px]">
      <p class="">
        To align with the playful theme, I designed each <strong>button</strong>
        to be <strong>vibrant and visually distinctive</strong>, ensuring that
        their <strong>unique functions are clearly communicated</strong>.
      </p>

      <p class="mt-[20px] 2xl:mt-[40px]">
        The <strong>rest of the elements</strong> maintain visual <strong
          >consistency</strong
        > through a cohesive color scheme, effects, and form, establishing a <strong
          >unified visual foundation</strong
        >. I incorporated a score tracker and a gradient timer bar, offering <strong
          >an intuitive, dynamic time representation</strong
        > that reduces cognitive load, enhances accessibility, and seamlessly integrates
        into the interface.
      </p>
    </div>
  </section>

  <h3
    class="text-[21px] sm:text-[26px] xl:text-[40px] font-extrabold pt-[80px] text-center"
  >
    FINAL DESIGN
  </h3>

  <!-- React component -->
  <WithMagnifyingGlass client:only invert={true}>
    <DynamicImgSrc showByDefault={0} client:visible bgColor={bgColor} />
  </WithMagnifyingGlass>
</EvelinFileWrapper>
