---
import { Image, Picture } from "astro:assets";
import "@fontsource/jost/500.css";
import primary_colors from "../assets/images/primary_colors_thrifty.png";
import logoFaviconMobile from "../assets/images/logo-favicon-mobile.png";
import logoFaviconTablet from "../assets/images/logo-favicon-tablet.png";
import logoFaviconDesktop from "../assets/images/logo-favicon-desktop.png";
import EvelinFilePainPoint from "./EvelinFilePainPoint.astro";
import EvelinFileWrapper from "./EvelinFileWrapper.astro";
import ReactImageWrapper from "./ReactImageWrapper";
import ShadyNumber from "./ShadyNumber.astro";
import thriftstudioKeyFeatures from "../thriftstudioKeyFeatures.ts";
import EvelinFileResearchGoal from "./EvelinFileResearchGoal.astro";
import ExpandDetails from "./ExpandDetails.astro";
import { adminInterface, homePage } from "../projects/evelinThriftstudioData";
import DynamicImgSrc from "./DynamicImgSrc";
import ThriftstudioDesignQuickLinks from "./ThriftstudioDesignQuickLinks.astro";
import WithMagnifyingGlass from "./WithMagnifyingGlass";
import ReactImage from "./ReactImage";

const { fileTitle, bgColor, cardBgColor, id, quickLinkMargin } = Astro.props;
---

<EvelinFileWrapper
  title={fileTitle}
  bgColor={bgColor}
  cardBgColor={cardBgColor}
  id={id}
  paddingX="px-[20px] sm:px-[30px] xl:px-[0px] 2xl:px-[172px]"
  paddingY="py-[80px] sm:py-[90px] xl:py-[130px]"
  quickLinkMargin={quickLinkMargin}
>
  <ThriftstudioDesignQuickLinks className="sm:hidden" />
  <h3
    class="text-[21px] sm:text-[26px] sm:text-[26px] xl:text-[40px] text-[#1e1e1e] font-extrabold text-center mt-[50px] sm:mt-0"
    id="wireframes"
  >
    WIREFRAMES
  </h3>

  <p
    class="mt-[20px] mx-[-20px] p-[20px] border-[#C8C9AC] border-t-[1px] border-b-[1px] xl:text-[17px] text-[#1E1E1E] leading-[23px] sm:border-0 sm:mx-0 sm:rounded-[15px] sm:bg-[#E8E9C4] xl:rounded-[20px]"
  >
    I adopted a <strong>mobile-first approach</strong> in the initial sketching phase
    to ensure an intuitive user experience starting with the smallest screens. By
    focusing on mobile first, I was able to <strong
      >prioritize essential content</strong
    > and <strong>simplify interactions</strong>, ensuring that users would have
    an efficient experience even in constrained environments.
  </p>

  <div
    class="xl:flex xl:flex-row-reverse xl:justify-between xl:items-center xl:gap-[70px] xl:px-[78px] sm:mx-auto"
  >
    <ReactImageWrapper
      invertIcon={true}
      client:only
      imgClassName="rounded-[5px] w-[297px] mx-auto"
      className="mt-[30px] xl:mt-[40px]"
      src="thriftstudio_paper_wireframe"
      alt="paper wireframe for the thriftstudio app"
    />

    <div class="">
      <p class="mt-[40px] sm:mt-[30px] mx-auto leading-[18px] text-[16px]">
        <strong>I started with laying out the key features:</strong>
      </p>

      <div
        class="flex flex-col gap-[13px] xl:gap-[7px] mt-[23px] sm:mt-[20px] xl:mt-[30px]"
      >
        {
          thriftstudioKeyFeatures.map((item, i) => {
            return (
              <div class="flex items-center gap-[10px] xl:gap-[15px] text-[16px] xl:text-[17px]">
                <ShadyNumber>{i + 1}</ShadyNumber>
                <p class="leading-[17px]">{item.text}</p>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>

  <p
    class="bg-[#EDEAF6] p-[20px] sm:p-[24px] sm:rounded-[15px] mx-[-20px] xl:text-[17px] sm:mx-0 mt-[25px] sm:mt-[50px] xl:mt-[40px]"
  >
    After finalizing the initial sketches, I transitioned to <strong
      >digital wireframes</strong
    >, prioritizing the key features. I designed both the primary and
    supplementary pages to establish a comprehensive user flow, ensuring the
    design was ready for user testing. I focused on <strong
      >three primary user tasks</strong
    > to evaluate the effectiveness of key interactions:
  </p>

  <ReactImageWrapper
    invertIcon={true}
    client:only
    className="mt-[25px] sm:mt-[30px] xl:mt-[40px]"
    src="thriftstudio_prototype"
    alt="low-fidelity prototype for the thriftstudio app"
  />

  <h4
    class="text-[17px] sm:text-[21px] xl:text-[32px] mt-[50px] xl:mt-[80px] font-bold"
    id="usability-testing"
  >
    USABILITY TESTING
  </h4>

  <section
    class="xl:grid xl:grid-cols-[1fr_286px] xl:gap-[94px] xl:items-center"
  >
    <div>
      <h5 class="text-[16px] font-bold mt-[20px] sm:mt-[40px] xl:text-[18px]">
        Goals:
      </h5>
      <ul class="flex flex-col gap-[3px] xl:gap-[12px]">
        <EvelinFileResearchGoal
          bgColor="bg-[#EDEAF6]"
          padding="p-[12px]"
          textSize="text-[16px] xl:text-[16px]"
          className="sm:leading-[14px] xl:tracking-[0.5px] mt-[10px] w-fit"
          >assess whether users can successfully complete key tasks within the
          prototype</EvelinFileResearchGoal
        >

        <EvelinFileResearchGoal
          bgColor="bg-[#EDEAF6]"
          padding="p-[12px]"
          textSize="text-[16px] xl:text-[16px]"
          className="xl:tracking-[0.5px] sm:leading-[14px] w-fit"
        >
          evaluate the intuitiveness and usability of the prototype</EvelinFileResearchGoal
        >
      </ul>

      <h5 class="text-[16px] font-bold mt-[30px] mt-[40px] xl:text-[18px]">
        Research questions:
      </h5>

      <ul class="flex flex-col gap-[3px] xl:gap-[12px] mt-[10px]">
        <EvelinFileResearchGoal
          bgColor="bg-[#EDEAF6]"
          padding="p-[12px]"
          textSize="text-[16px] xl:text-[16px]"
          className="xl:tracking-[0.5px] sm:leading-[14px] w-fit"
          >what can we learn from the steps that users take to complete each
          task?</EvelinFileResearchGoal
        >

        <EvelinFileResearchGoal
          bgColor="bg-[#EDEAF6]"
          padding="p-[12px]"
          textSize="text-[16px] xl:text-[16px]"
          className="xl:tracking-[0.5px] sm:leading-[14px] w-fit"
          >are there parts of the user flow where users get stuck?</EvelinFileResearchGoal
        >
        <EvelinFileResearchGoal
          bgColor="bg-[#EDEAF6]"
          padding="p-[12px]"
          textSize="text-[16px] xl:text-[16px]"
          className="xl:tracking-[0.5px] sm:leading-[14px] w-fit"
          >do the users find the filter saving feature helpful and/or useful?</EvelinFileResearchGoal
        >
        <EvelinFileResearchGoal
          bgColor="bg-[#EDEAF6]"
          padding="p-[12px]"
          textSize="text-[16px] xl:text-[16px]"
          className="xl:tracking-[0.5px] sm:leading-[14px] w-fit"
          >are there design changes that would make each task easier and/or
          faster for the users?</EvelinFileResearchGoal
        >
      </ul>
    </div>

    <div>
      <h5
        class="text-[16px] font-bold sm:ml-[3px] text-center sm:text-left mt-[30px]"
      >
        Tasks
      </h5>
      <ol
        class="flex flex-col gap-[12px] list-decimal list-outside w-[100%] mx-auto pl-[20px] mt-[20px] font-medium leading-[18px]"
      >
        <li>Access your account and add a new shipping address</li>
        <li>Create and save a filter for "Brown sweaters in size 38"</li>
        <li>
          Used the saved filter to find a product, add it to your cart, and
          complete the purchase
        </li>
      </ol>
    </div>
  </section>

  <h4
    class="text-[15px] sm:text-[17px] uppercase xl:normal-case text-center font-bold mt-[50px] xl:text-left"
  >
    Usability test findings<span class="hidden xl:inline">:</span>
  </h4>

  <div
    class="h-[1px] mx-[-20px] sm:mx-[-50px] w-screen mt-[15px] sm:hidden"
    style={{ backgroundColor: bgColor }}
  >
  </div>

  <div
    class="flex flex-col gap-[13px] sm:gap-[20px] xl:gap-[5px] mt-[15px] sm:mt-[20px] sm:border-[1px] sm:border-[#E8E9C4] sm:rounded-[15px] sm:py-[10px]"
  >
    <EvelinFileResearchGoal
      noBg={true}
      className=""
      padding="px-4 pt-4"
      textSize="text-[16px] xl:text-[17px]"
      >Participants found the Account menu overwhelming due to the numerous
      subsections and the need to navigate back and forth</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal
      noBg={true}
      padding="px-4"
      textSize="text-[16px] xl:text-[17px]"
      >The radio button in the saved address section caused confusion, as its
      purpose (indicating the default address) was unclear</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal
      noBg={true}
      padding="px-4"
      textSize="text-[16px] xl:text-[17px]"
      >Participants disliked that each filter section opened on a new page
      slowing the process, and found the “Type” list confusing, as it mixed
      product categories with options like “New in” and “Sale”</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal
      noBg={true}
      padding="px-4"
      textSize="text-[16px] xl:text-[17px]"
      >Participants suggested adding color names to the color selection for
      better clarity</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal
      noBg={true}
      padding="px-4"
      textSize="text-[16px] xl:text-[17px]"
      >While the filter saving feature was appreciated, accessing it was
      considered too cumbersome</EvelinFileResearchGoal
    >
    <EvelinFileResearchGoal
      noBg={true}
      padding="px-4 pb-4"
      textSize="text-[16px] xl:text-[17px]"
      >Participants completed the checkout process smoothly but expressed a
      desire to see the cart total on every checkout page</EvelinFileResearchGoal
    >
  </div>

  <h3
    class="text-center text-[17px] sm:text-[21px] xl:text-[24px] font-bold mt-[40px] sm:mt-[95px]"
  >
    CHANGES
  </h3>

  <ExpandDetails
    bgColor={bgColor}
    iconId="thriftstudio_usability_test_icon"
    slotId="thriftstudio_usability_test_slot"
    buttonId="thriftstudio_usability_test_button"
    className="mt-[20px] sm:mt-[30px]"
  >
    <section class="xl:grid xl:grid-cols-2 xl:gap-[75px]">
      <div>
        <h4 class="font-bold text-[16px] mt-[30px] xl:mt-0">
          To address user frustrations with the account menu:
        </h4>

        <EvelinFilePainPoint
          bgColor={bgColor}
          className="mt-[20px] sm:mt-[30px]"
          textSize="text-[16px]"
          >I redesigned the navigation layout, replacing the vertical scrolling
          menu with horizontal scrolling, allowing users to access any section
          of their account with fewer clicks</EvelinFilePainPoint
        >
        <EvelinFilePainPoint
          bgColor={bgColor}
          className="mt-[15px] sm:mt-[20px]"
          textSize="text-[16px]"
          >The saved address card was revamped by replacing the confusing radio
          button and hidden menu with clearly visible editing options, enabling
          users to edit, delete, or set a default address with a single click</EvelinFilePainPoint
        >

        <EvelinFilePainPoint
          bgColor={bgColor}
          className="mt-[15px] sm:mt-[20px]"
          textSize="text-[16px]"
          >The default address is now visually highlighted for added clarity</EvelinFilePainPoint
        >
      </div>

      <div>
        <h4 class="font-bold text-[16px] mt-[40px] xl:mt-0">
          To improve the filters section:
        </h4>

        <div class="flex flex-col gap-[15px] mt-[20px] sm:mt-[30px]">
          <EvelinFilePainPoint bgColor={bgColor} textSize="text-[16px]"
            >I reorganized and divided filter categories to better align with
            their content, making it easier for users to locate and customize
            filters according to their preferences</EvelinFilePainPoint
          >
          <EvelinFilePainPoint bgColor={bgColor} textSize="text-[16px]"
            >Each filter category now uses a dropdown list instead of separate
            pages, with added icons for quick open/close actions, along with
            "Collapse All" and "Clear All" buttons for seamless navigation</EvelinFilePainPoint
          >
          <EvelinFilePainPoint bgColor={bgColor} textSize="text-[16px]"
            >I included color names to enhance clarity in the color filter</EvelinFilePainPoint
          >
          <EvelinFilePainPoint bgColor={bgColor} textSize="text-[16px]"
            >To improve access to saved filters, I separated them from the
            filtering page, introduced a dedicated button on the product page,
            and integrated them into the search function</EvelinFilePainPoint
          >
        </div>
      </div>
    </section>
  </ExpandDetails>

  <ReactImageWrapper
    invertIcon={true}
    client:only
    className="mt-[26px] sm:mt-[80px]"
    src="thriftstudio_before_after"
    alt="a before and after representation of changes made after the usability test"
  />

  <h4
    class="text-right text-[17px] sm:text-[21px] xl:text-[24px] font-bold mt-[70px]"
  >
    ADMIN INTERFACE
  </h4>

  <p
    class="bg-[#EDEAF6] p-[20px] mx-[-20px] mt-[20px] sm:rounded-[15px] xl:rounded-[20px] xl:text-[17px]"
  >
    The admin interface was <strong
      >designed specifically for desktop use</strong
    > to provide ample space for <strong
      >overseeing large amounts of information</strong
    > and efficiently
    <strong>managing bulk product updates</strong>. I developed a <strong
      >mid-fidelity prototype</strong
    > to incorporate more detailed interactions, ensuring <strong
      >ease of use</strong
    > while accommodating <strong>various inventory management scenarios</strong
    >, such as editing, adding, and deleting products.
  </p>

  <DynamicImgSrc
    showByDefault={0}
    items={adminInterface}
    cardBgColor={cardBgColor}
    isAdminInterface={true}
    client:only
  />

  <h3
    class="font-extrabold text-[21px] sm:text-[26px] xl:text-[40px] text-center mt-[70px] sm:mt-[80px] xl:mt-[120px]"
    id="style-definition"
  >
    STYLE DEFINITION
  </h3>
  <h4
    class="text-[17px] sm:text-[26px] xl:text-[32px] font-bold text-left mt-[30px] sm:mt-[70px]"
  >
    COLOR PALETTE
  </h4>

  <div
    class="sm:mt-[40px] sm:flex sm:items-center sm:gap-[14px] xl:mt-[30px] xl:justify-between"
  >
    <p class="text-[16px] xl:text-[17px] mt-[20px] xl:w-[68%] sm:mt-0">
      To establish an <strong>energetic and fresh vibe</strong>, I chose a <strong
        >bright, vivid</strong
      > lime yellow as the primary color. Its vibrancy is balanced with two neutrals:
      an off-white for a <strong>light, airy feel</strong> and an almost-black for
      a subtle contrast, creating a <strong
        >minimalistic and modern aesthetic</strong
      >. To complement this foundation, I incorporated a range of grays, greens,
      and yellows, forming a cohesive and dynamic color palette that reinforces
      a <strong>strong and consistent visual identity</strong>.
    </p>

    <Image
      src={primary_colors}
      alt="the primary colors (white, mustard and black) of the thriftstudio app"
      class="mt-[20px] xl:mt-0 sm:w-[200px] sm:h-[105px] xl:w-[275px] xl:h-[143px]"
    />
  </div>

  <ReactImageWrapper
    invertIcon={true}
    src="color_palette_thrifty"
    alt="color palette of the mono, green, yellow colors for the thriftstudio app"
    className="mt-[20px] sm:mt-[30px]"
    client:only
  />

  <h4
    class="text-[17px] sm:text-[21px] xl:text-[32px] font-bold text-right mt-[40px] sm:mt-[70px]"
  >
    TYPOGRAPHY
  </h4>

  <section
    class="sm:flex sm:flex-row-reverse sm:gap-[35px] sm:items-center xl:mt-[30px]"
  >
    <p class="mt-[20px] text-[16px] xl:text-[17px] sm:w-[60%] xl:mt-0">
      To reflect the thrift store's diverse offerings, I aimed for a <strong
        >bold, expressive UI</strong
      >. I began with the logo, choosing the <strong
        >sans-serif font Staatliches</strong
      > for its <strong>dynamic and modern</strong> vibe. To make it stand out, I
      modified the first and last letters (T and O) and the repeating T's by cutting
      through them, creating an empty strike-through effect for a <strong
        >distinctive and edgy look</strong
      >.
    </p>

    <div class="sm:w-[40%]">
      <Picture
        src={logoFaviconMobile}
        alt="the thriftstudio logo"
        sizes="(min-width: 0px), 712px, 100vw"
        class="mt-[30px] mx-auto w-[220px] max-w-full sm:max-w-full xl:mt-0 sm:hidden"
      />
      <Picture
        src={logoFaviconTablet}
        alt="the thriftstudio logo"
        sizes="(min-width: 640px), 712px, 100vw"
        class="mt-[30px] sm:max-w-full xl:mt-0 hidden sm:block xl:hidden"
      />
      <Picture
        src={logoFaviconDesktop}
        alt="the thriftstudio logo"
        sizes="(min-width: 1280px), 1416px, 100vw"
        class="mt-[30px] sm:max-w-full xl:mt-0 hidden xl:block"
      />
    </div>
  </section>

  <section
    class="sm:flex sm:items-center sm:justify-between sm:gap-[35px] xl:mt-[80px]"
  >
    <div
      class="sm:flex sm:flex-col sm:gap-[50px] xl:gap-[30px] sm:w-[37%] xl:self-start xl:sticky xl:top-[40%]"
    >
      <p class="text-[16px] xl:text-[17px] mt-[40px] xl:mt-0">
        As the <strong>primary font</strong> I have chosen <strong
          >Albert Sans</strong
        >, due to its modern aesthetic, legibility and extensive range of
        weights and styles, providing flexibility.
      </p>

      <p class="text-[16px] xl:text-[17px] mt-[30px] sm:mt-0">
        To draw attention to specific sections of the landing page, I
        incorporated a <strong
          >selection of sleek and distinctive typefaces</strong
        >, including Alokary, Allenoire, ITC Avant Garde Gothic, and Futura.
        Each font was chosen intentionally <strong
          >to add character and enhance the visual hierarchy</strong
        >, ensuring key elements stand out while maintaining a cohesive and
        modern aesthetic.
      </p>
    </div>

    <ReactImageWrapper
      invertIcon={true}
      src="as_fonts"
      alt="typography style guide - albert sans, the primary font for thriftstudio"
      className="mt-[40px] xl:mt-0 sm:max-w-[605px] rounded-[5px] sm:w-[63%]"
      imgClassName="rounded-[5px]"
      client:only
    />
  </section>

  <ReactImageWrapper
    invertIcon={true}
    src="display_fonts"
    className="mt-[30px] xl:mt-[80px] rounded-[5px]"
    alt="typography style guide - display fonts for thriftstudio"
    imgClassName="rounded-[5px]"
    client:only
  />

  <h4
    class="text-[17px] sm:text-[21px] xl:text-[32px] font-bold mt-[40px] sm:mt-[70px]"
  >
    COMPONENTS
  </h4>

  <WithMagnifyingGlass
    invert={true}
    client:only
    className="mt-[20px] sm:mt-[30px] xl:hidden"
  >
    <div
      class="bg-[#E8E9C3] p-[14px] mx-[-20px] sm:mx-0 sm:rounded-[15px] xl:grid xl:grid-cols-[303px_1fr] xl:items-center"
    >
      <p class="text-[16px] xl:col-start-1 xl:col-end-2 xl:px-[37px]">
        After establishing the color palette and typography, I designed the
        <strong>iconography, illustrations,</strong> and <strong
          >components</strong
        > for all three viewports - mobile, tablet, and desktop.
      </p>
      <ReactImageWrapper
        invertIcon={true}
        src="comp-5"
        client:only
        className="mt-[20px] xl:mt-0 xl:col-start-2 xl:col-end-3"
        alt="iconography and illustrations for thriftstudio"
        noMagnifyingGlass={true}
      />
    </div>
  </WithMagnifyingGlass>

  <section class="hidden xl:grid grid-cols-[290px_762px] items-start">
    <p
      class="text-[16px] xl:text-[17px] bg-[#E9E9D6] px-[30.5px] py-[57.5px] leading-[25px] h-[266.22px] rounded-tl-[20px] rounded-bl-[20px]"
    >
      After establishing the color palette and typography, I designed the
      <strong>iconography, illustrations,</strong> and <strong
        >components</strong
      > for all three viewports - mobile, tablet, and desktop.
    </p>
    <WithMagnifyingGlass invert={true} client:only>
      <ReactImageWrapper
        invertIcon={true}
        src="comp-5"
        client:only
        className="mt-[20px] xl:mt-0 bg-[#E9E9D6] p-[13px] rounded-tr-[20px] rounded-br-[20px]"
        alt="iconography and illustrations for thriftstudio"
        noMagnifyingGlass={true}
      />
    </WithMagnifyingGlass>
  </section>

  <WithMagnifyingGlass invert={true} className="mt-[30px]" client:only>
    <div
      class="bg-[#E8E9C3] p-[14px] mx-[-20px] sm:mx-0 sm:rounded-[15px] xl:rounded-[20px]"
    >
      <p>
        During the refinement process, I expanded beyond the initial wireframes,
        completing the missing pages - including Brands, Orders, Returns,
        Settings, About Us, Delivery & Return Info, Contact, and Product Page -
        and enhancing the desktop layout with additional elements for a richer
        experience.
      </p>
      <div
        class="xl:grid xl:grid-cols-[545px_469px] xl:gap-[13px] xl:mt-[20px]"
      >
        <ReactImageWrapper
          invertIcon={true}
          src="comp-1"
          client:only
          className="mt-[20px] sm:mt-0 xl:mt-0"
          alt="components for the landing page for the thriftstudio app"
          noMagnifyingGlass={true}
        />
        <div class="xl:flex xl:flex-col gap-[13px] sm:gap-[13px]">
          <ReactImageWrapper
            invertIcon={true}
            src="comp-2"
            client:only
            className="mt-[20px] sm:mt-[13px] xl:mt-0"
            alt="components for the account pages for the thriftstudio app"
            noMagnifyingGlass={true}
          />
          <ReactImageWrapper
            invertIcon={true}
            src="comp-3"
            client:only
            className="mt-[20px] sm:mt-[13px] xl:mt-0"
            alt="components for filters for the thriftstudio app"
            noMagnifyingGlass={true}
          />
          <ReactImageWrapper
            invertIcon={true}
            src="comp-4"
            client:only
            className="mt-[20px] sm:mt-[13px] xl:mt-0"
            alt="components for products, cart, favorite and checkout for the thriftstudio app"
            noMagnifyingGlass={true}
          />
        </div>
      </div>
    </div>
  </WithMagnifyingGlass>

  <h3
    class="font-extrabold text-[21px] sm:text-[26px] xl:text-[40px] text-center mt-[80px] sm:mt-[80px] xl:mt-[120px]"
    id="final-design"
  >
    FINAL DESIGN
  </h3>

  <h4
    class="text-[17px] text-center sm:text-right sm:text-[21px] xl:text-[32px] font-bold mt-[40px] sm:mt-[70px]"
  >
    HOME PAGE
  </h4>

  <div class="flex justify-center">
    <p
      class="uppercase bg-[#d2d62e] py-[10px] sm:py-[8px] px-[6.5px] sm:px-[5px] text-[12px] xl:ml-auto leading-[16px] text-center xl:inline font-medium sm:rounded-[5px] mt-[30px] sm:mt-[40px] xl:mt-0"
    >
      A key pain point was users missing out on new arrivals and sales
    </p>
  </div>

  <section class="xl:flex xl:align-start xl:mt-[30px]">
    <EvelinFilePainPoint
      bgColor={bgColor}
      className="mt-[30px] xl:mt-0 text-[16px] leading-[20px] font-bold w-max-content w-[40%]"
      >To solve this, I implemented three features:</EvelinFilePainPoint
    >
    <div class="xl:flex xl:flex-col xl:gap-[20px]">
      <EvelinFileResearchGoal
        noBg={true}
        className=""
        padding="pt-[15px] xl:pt-0"
        textSize="text-[16px] xl:text-[17px]"
        >a looping banner highlighting shipping, discounts, new arrivals, and
        store hours</EvelinFileResearchGoal
      >
      <EvelinFileResearchGoal
        noBg={true}
        className=""
        padding="pt-[15px]"
        textSize="text-[16px] xl:pt-0 xl:text-[17px]"
        >dedicated sections for men, women, and kids to enhance personalization</EvelinFileResearchGoal
      >
      <EvelinFileResearchGoal
        noBg={true}
        className=""
        padding="pt-[15px]"
        textSize="text-[16px] xl:pt-0 xl:text-[17px] mb-[40px]"
        >a hero section featuring a looping ‘New In’ and ‘Sale’ image, also
        accessible via toggle, drag and swipe</EvelinFileResearchGoal
      >
    </div>
  </section>

  <section class="xl:grid xl:grid-cols-[600px_422px] xl:gap-[30px]">
    <div class="">
      <DynamicImgSrc
        showByDefault={1}
        cardBgColor={cardBgColor}
        items={homePage}
        isHome={true}
        client:only
      />
    </div>

    <div
      class="flex flex-col gap-[10px] xl:gap-[18px] mt-[40px] xl:mt-0 max-w-[322px] xl:max-w-full xl:w-[422px] mx-auto"
    >
      <ReactImage
        src="home-zoom-1"
        alt="hero section of the landing page"
        className="rounded-[10px] border-[2px] sm:border-[3px] border-[#d2d62e] "
      />

      <ReactImage
        src="home-zoom-2"
        alt="color carousel section of the landing page"
        className="rounded-[10px] border-[2px] sm:border-[3px] border-[#d2d62e]"
      />
      <ReactImage
        src="home-zoom-3"
        alt="popular brands section of the landing page"
        className="rounded-[10px] border-[2px] sm:border-[3px] border-[#d2d62e]"
      />
      <ReactImage
        src="home-zoom-4"
        alt="filter feature information section of the landing page"
        className="rounded-[10px] border-[2px] sm:border-[3px] border-[#d2d62e]"
      />
    </div>
  </section>

  <section class="xl:grid xl:grid-cols-[580px_447px] xl:gap-[25px]">
    <video autoplay loop muted class="mt-[40px]">
      <source src="/videos/gender-hover-video.mp4" type="video/mp4" />
    </video>

    <section
      class="sm:grid sm:grid-cols-[1fr_177px] xl:grid-cols-[220px_177px] items-center xl:gap-[50px]"
    >
      <div>
        <p class="leading-[20px] mt-[40px]">
          On desktop, clicking ‘Men,’ ‘Women,’ or ‘Kids’ updates the landing
          page content, while hovering provides instant access to all products
          for seamless navigation
        </p>

        <p class="leading-20px mt-[30px]">
          This feature is available via the hamburger menu on smaller devices
        </p>
      </div>

      <video autoplay loop muted class="mt-[40px] mx-auto">
        <source src="/videos/mobile-menu.mp4" type="video/mp4" />
      </video>
    </section>
  </section>
</EvelinFileWrapper>
