---
import "@fontsource/jost/800.css";
import IconTriangleDesktop from "./IconTriangleDesktop.astro";
import IconTriangleMobile from "./IconTriangleMobile.astro";
import IconTriangleTablet from "./IconTriangleTablet.astro";

const { title, bgColor, className, pClass, titleStyles } = Astro.props;
const marginTop = title === "THE PRODUCT" ? "" : "mt-[35px]";
---

<div class={className}>
  <h3
    class={`${marginTop} text-[18px] sm:text-[25px] xl:text-[40px]  relative whitespace-nowrap ${titleStyles}`}
  >
    <IconTriangleMobile
      bgColor={bgColor}
      className="block sm:hidden absolute top-[6px] left-[-10px]"
    />
    <IconTriangleTablet
      bgColor={bgColor}
      className="hidden sm:block absolute xl:hidden top-[4px] left-[-18px]"
    />
    <IconTriangleDesktop
      bgColor={bgColor}
      className="hidden xl:block absolute top-[21px] left-[-20px]"
    />
    {title}
  </h3>

  <p class={`text-[16px] xl:text-[17px] ${pClass}`}>
    <slot />
  </p>
</div>

<style>
  h3 {
    font-family: "Jost", sans-serif;
    font-weight: 800;
  }

  p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
  }
</style>
