---
import "@fontsource/jost/700.css";
import { extractName } from "../utils/extractName";
import HeroPersonBg from "./HeroPersonBg.astro";
import HeroPersonName from "./HeroPersonName.astro";
import HeroPersonOccupation from "./HeroPersonOccupation.astro";

const { fullName, className, occupation } = Astro.props;

const { name, familyName } = extractName(fullName);
const lowerCaseName = name.toLowerCase();

const colors = {
  barna: {
    name: "#9B991A",
    occupation: "#D3D118",
  },
  evelin: {
    name: "#955FA3",
    occupation: "#E296F5",
  },
} as const;

const color = colors[lowerCaseName as keyof typeof colors];
---

<HeroPersonBg name={name} className={className}>
  <section
    class="translate-y-[70px] lg:translate-y-[110px] z-10 animate-fade-up animate-once animate-duration-[2000ms] animate-ease-in-out"
  >
    <HeroPersonName familyName={familyName} name={name} color={color.name} />

    <HeroPersonOccupation
      name={name}
      iconColor={color.occupation}
      occupation={occupation}
    />
  </section>
</HeroPersonBg>
