---
const { name, surname, color, gridColumn, gridRow, small } = Astro.props;

const fontSize = small ? "text-[23px]" : "text-[190px]";
---

<div
  style={`
  color: ${color};
  grid-column: ${gridColumn};
  grid-row: ${gridRow};`}
  class=`${fontSize} gap-0 flex flex-col ${surname.toLowerCase()}-name justify-content-start ml-10 mt-5`
>
  <p class="-mb-[9.5rem]">{name}</p>
  <p class="m-0">{surname}</p>
</div>

<style>
  @font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  div {
    font-family: "Jost";
  }
</style>
