---
import "@fontsource/jost/400.css";
const { name, familyName, color, gridColumn, gridRow, small } = Astro.props;

const fontSize = small ? "sm:text-[17px] lg:text-[20px]" : "text-[190px]";

const evelinBlendMode = name === "EVELIN" ? "mix-blend-difference" : "";
---

<div
  style={`
  color: ${color};
  grid-column: ${gridColumn};
  grid-row: ${gridRow};`}
  class=`${fontSize} font-['Jost'] font-regular gap-0 flex flex-col justify-content-start text-right quizzicalFont ${evelinBlendMode}`
>
  <p class="-mb-[40px] lg:-mb-[48px]">{name}</p>
  <p class="lg:m-0">{familyName}</p>
</div>
