---
import "@fontsource/jost/700.css";
import { extractName } from "../utils/extractName";
import HeroPersonBg from "./HeroPersonBg.astro";
import HeroPersonName from "./HeroPersonName.astro";
import HeroPersonOccupation from "./HeroPersonOccupation.astro";

const { fullName, className, occupation } = Astro.props;

const { name: familyName, surname } = extractName(fullName);
const lowerCaseSurname = surname.toLowerCase();

const colors = {
  barna: {
    name: "#9B991A",
    occupation: "#D3D118",
  },
  evelin: {
    name: "#955FA3",
    occupation: "#E296F5",
  },
} as const;

const color = colors[lowerCaseSurname as keyof typeof colors];
---

<HeroPersonBg surname={surname} className={className}>
  <section class="translate-y-[70px] z-10">
    <HeroPersonName
      familyName={familyName}
      surname={surname}
      color={color.name}
    />

    <HeroPersonOccupation
      surname={surname}
      iconColor={color.occupation}
      occupation={occupation}
    />
  </section>
</HeroPersonBg>

<style>
  p {
    font-family: "Jost", sans-serif;
    font-weight: 200;
  }

  p.occupation {
    font-weight: 700;
  }
</style>
