---
import PersonLinks from "./PersonLinks.astro";
import PersonNameTag from "./PersonNameTag.astro";
import IconHamburger from "./IconHamburger.astro";

const { fullName, color, bgColor } = Astro.props;

const [familyName, name] = fullName.split(" ");

const lowercasedName = name.toLowerCase();
const pathname = Astro.url.pathname;
const isQuizzical = pathname.includes("quizzical");
const isThriftStudio = pathname.includes("thriftstudio");
---

<script is:inline define:vars={{ isQuizzical, isThriftStudio }}>
  function updateHeaderOnScroll() {
    const header = document.querySelector("header");
    if (!header) return;

    const isScrolled = window.scrollY > 0;

    header.style.backgroundColor = isScrolled
      ? header.dataset.bgColor || ""
      : "";
    if (!isThriftStudio) {
      header.classList.toggle("z-50", isScrolled);
    }

    if (isQuizzical) {
      updateQuizzicalStyles(isScrolled);
    }
  }

  function updateQuizzicalStyles(isScrolled) {
    const header = document.querySelector("header");
    const hamburgerIcon = header?.querySelector(".hamburger-icon");
    const quizzicalHeaderTexts = header?.querySelectorAll(".quizzicalFont");
    if (!hamburgerIcon || !quizzicalHeaderTexts) return;

    const strokeColor = isScrolled ? "#000" : "#e1ca02";
    const textColor = isScrolled ? "#000" : "#EBD302";

    Array.from(hamburgerIcon.children).forEach((stroke) => {
      stroke.style.stroke = strokeColor;
    });

    quizzicalHeaderTexts.forEach((text) => {
      if (text) {
        text.style.color = textColor;
      }
    });

    if (isScrolled) {
      hamburgerIcon.style.color = "#000";
    }
  }

  window.addEventListener("scroll", updateHeaderOnScroll);

  const attachHamburgerEventListener = () => {
    const hamburgerIcon = document.querySelector(".hamburger-icon");
    const hamburgerMenu = document.querySelector(".hamburger-menu");

    if (hamburgerIcon) {
      hamburgerIcon.addEventListener("click", () => {
        hamburgerMenu?.classList.remove("hidden");
      });
    }
  };
  document.addEventListener("astro:page-load", attachHamburgerEventListener);
</script>

<header class={`sticky top-0 z-[1]`} data-bg-color={bgColor}>
  <div
    class={`mx-auto w-[80%] sm:w-[90%] flex content-center flex-row justify-between items-center sm:py-6 `}
  >
    <PersonNameTag
      familyName={familyName.toUpperCase()}
      name={name.toUpperCase()}
      color={color}
    />
    <PersonLinks
      lowercasedName={lowercasedName}
      className="hidden lg:flex xl:flex-row gap-[20px]"
      color={color}
    />
    <IconHamburger
      name={lowercasedName}
      className="lg:hidden h-full flex flex-col justify-center hamburger-icon z-[150]"
      color={color}
    />
  </div>
</header>
