---
import "@fontsource/jost/400.css";
import { getHeaderNavLinkTextColor } from "../utils/getHeaderNavLinkTextColor.js";
const { href, isCurrentPage, isHamburger, lowercasedName } = Astro.props;

const url = Astro.request.url.toString();
const circleColor = isHamburger
  ? "bg-white"
  : href.includes("evelin")
    ? "bg-[#efd6f5]"
    : "bg-[#D9D62D]";

const circlePosition = isHamburger
  ? "left-[-15px] sm:left-[-12px] translate-y-[15px] sm:translate-y-[16px]"
  : "inset-0 m-auto mt-[1.55rem]";
const textSize = isHamburger ? "text-[26px]" : "sm:text-[32px]";
const dropShadow =
  lowercasedName === "evelin"
    ? "hover:drop-shadow-[0px_0px_3px_#e296f5]"
    : "hover:drop-shadow-[0px_0px_3px_yellow]";
const textColor = getHeaderNavLinkTextColor(
  href,
  isCurrentPage,
  isHamburger,
  url,
);
---

<li class="font-['Jost'] font-regular">
  <a
    class={`${textColor} ${textSize} lg:text-[17px] flex flex-col relative transition-all duration-200 ${dropShadow}`}
    href={`${href}`}
  >
    <slot />
    {
      Astro.request.url
        .toString()
        .includes("thriftstudio") ? null : isCurrentPage ? (
        <div
          transition:name="circle"
          class={`absolute h-[8px] w-[8px] block rounded-full ${circlePosition} ${circleColor}`}
        />
      ) : null
    }
  </a>
</li>
