---
import "@fontsource/jost/400.css";

const { description, github, id, className, isInverted } = Astro.props;
const autoMargin = id === 2 || id === 4 ? "mr-auto" : "ml-auto";
const invertTextAlign = isInverted ? "lg:text-left" : "lg:text-right";
---

<div class={`flex sm:gap-[20px] lg:gap-[16px] flex-col ${className}`}>
  <p
    class={`text-[16px] 2xl:text-[21px] text-white ${autoMargin} text-center ${invertTextAlign}`}
  >
    {description}
  </p>

  <a
    href={`${github}?tab=readme-ov-file#readme`}
    class={`underline underline-offset-2 text-[13px] 2xl:text-[18px] text-[#eaebd1] tracking-wide text-center ${invertTextAlign}`}
    >Read More</a
  >
</div>

<style>
  a {
    font-family: "Jost", sans-serif;
    font-weight: 400;
  }

  p {
    line-height: 1.2;
  }
</style>
