---
import "@fontsource/jost/400.css";
import { getHeaderNavLinkTextColor } from "../utils/getHeaderNavLinkTextColor.js";
import { getHeaderNavLinkShadow } from "../utils/getHeaderNavLinkShadow.js";
import PersonHeaderLinkCurrent from "./PersonHeaderLinkCurrent.astro";
const { href, isCurrentPage, isHamburger, lowercasedName, color } = Astro.props;

const url = Astro.request.url.toString();
const textSize = isHamburger ? "text-[26px]" : "sm:text-[32px]";
const boxShadow = getHeaderNavLinkShadow(lowercasedName);

const textColor = getHeaderNavLinkTextColor(isCurrentPage, isHamburger, url);
---

<li class={`font-['Jost'] font-regular ${textColor} quizzicalFont`}>
  <a
    class={`${textSize} lg:text-[17px] flex flex-col relative transition-all duration-200 ${boxShadow}`}
    href={href}
  >
    <slot />

    <PersonHeaderLinkCurrent
      isCurrentPage={isCurrentPage}
      isHamburger={isHamburger}
      url={url}
    />
  </a>
</li>
