---
const { title, value, name, className } = Astro.props;
import "@fontsource/jost/700.css";
import "@fontsource/roboto";

const titleTextColor = name === "Evelin" ? "text-[#efd6f5]" : "text-[#d9d62d]";
const contentTextColor = name === "Evelin" ? "text-[#e296f5]" : "text-white";
---

<div class={`flex flex-col items-center ${className}`}>
  <span
    class={`${titleTextColor} text-[70px] font-['Jost'] font-bold tracking-[-5px] text-center animate-rotate-y animate-once animate-duration-[600ms]`}
    >{title}</span
  >

  <div
    class={`${contentTextColor} text-[20px] font-['Roboto'] font-regular animate-fade animate-once animate-duration-[1000ms] animate-ease-in mt-[-10px] `}
  >
    <a class="" href={value.includes("@") ? `mailto:${value}` : value}>
      {value}
    </a>
  </div>
</div>
