---
import "@fontsource/jost/400.css";
const { href, isCurrentPage } = Astro.props;

const circleColor = href.includes("evelin") ? "bg-[#efd6f5]" : "bg-[#D9D62D]";
const evelinTextColor = isCurrentPage ? "text-[#efd6f5]" : "text-[#e296f5]";
const barnaTextColor = isCurrentPage ? "text-[#D9D62D]" : "text-white";
const textColor = href.includes("barna") ? barnaTextColor : evelinTextColor;
const homeColor = Astro.request.url.toString().includes("barna")
  ? "text-white"
  : "text-[#e296f5]";
const homeTextColor = href === "/" ? homeColor : "";
---

<li>
  <a
    class={`${isCurrentPage} ${textColor} ${homeTextColor}  flex flex-col relative`}
    href={`${href}`}
  >
    <slot />
    {
      isCurrentPage ? (
        <div
          transition:name="circle"
          class={`absolute h-[10px] w-[10px] block rounded-full m-auto inset-0 mt-8 ${circleColor}`}
        />
      ) : null
    }
  </a>
</li>

<style>
  li {
    font-family: "Jost", sans-serif;
    font-weight: 400;
  }
</style>
