---
import PersonLinks from "./PersonLinks.astro";
import PersonNameTag from "./PersonNameTag.astro";
import IconHamburger from "./IconHamburger.astro";

const { fullName, color, bgColor } = Astro.props;

const [familyName, name] = fullName.split(" ");

const lowercasedName = name.toLowerCase();
const isQuizzical = Astro.url.pathname.includes("quizzical");
---

<script>
  // sticky header styles
  window.addEventListener("scroll", () => {
    const header = document.querySelector("header");
    if (header) {
      if (window.scrollY > 0) {
        header.style.backgroundColor = header.dataset.bgColor || "";
        if (window.location.href.toString().includes("thriftstudio")) {
          return;
        } else {
          header.classList.add("drop-shadow-md");
          header.classList.add("z-50");
        }
      } else {
        header.style.backgroundColor = "";
        if (window.location.href.toString().includes("thriftstudio")) {
          return;
        } else {
          header.classList.remove("drop-shadow-md");
          header.classList.remove("z-50");
        }
      }
    }
  });

  const attachHamburgerEventListener = () => {
    const hamburgerIcon = document.querySelector(".hamburger-icon");
    const hamburgerMenu = document.querySelector(".hamburger-menu");

    if (hamburgerIcon) {
      hamburgerIcon.addEventListener("click", () => {
        if (hamburgerMenu) {
          hamburgerMenu.classList.remove("hidden");
        }
      });
    }
  };
  document.addEventListener("astro:page-load", attachHamburgerEventListener);
</script>

<header class={`sticky top-0 z-50`} data-bg-color={bgColor}>
  <div
    class={`mx-auto w-[80%] sm:w-[90%] flex flex-row justify-between items-center -translate-y-[12px] pt-[0.9rem] sm:py-6 `}
  >
    <PersonNameTag
      familyName={familyName.toUpperCase()}
      name={name.toUpperCase()}
      color={color}
    />
    <PersonLinks
      lowercasedName={lowercasedName}
      className="hidden lg:flex lg:flex-row gap-[20px]"
      color={isQuizzical ? bgColor : color}
    />
    <IconHamburger
      name={lowercasedName}
      className="lg:hidden h-full flex flex-col justify-center mt-3 hamburger-icon z-[90]"
      color={color}
    />
  </div>
</header>
