---
import PersonLinks from "./PersonLinks.astro";
import IconHamburger from "./IconHamburger.astro";
import LogoEvelin from "./LogoEvelin.astro";
import LogoBarna from "./LogoBarna.astro";
import LogoEvelinDark from "./LogoEvelinDark.astro";

const { fullName, color, bgColor } = Astro.props;

const [familyName, name] = fullName.split(" ");

const lowercasedName = name.toLowerCase();
const pathname = Astro.url.pathname;
const isQuizzical = pathname.includes("quizzical");
const isThriftStudio = pathname.includes("thriftstudio");
---

<script is:inline define:vars={{ isQuizzical, isThriftStudio }}>
  const attachHamburgerEventListener = () => {
    const hamburgerIcon = document.querySelector(".hamburger-icon");
    const hamburgerMenu = document.querySelector(".hamburger-menu");
    const hamburgerMenuInner = document.querySelector(".hamburger-inner");

    if (hamburgerIcon) {
      hamburgerIcon.addEventListener("click", () => {
        hamburgerMenu?.classList.remove("hidden");
        hamburgerMenuInner.classList.add("motion-safe:animate-fade-left");
        setTimeout(() => {
          hamburgerMenuInner?.classList.remove("motion-safe:animate-fade-left");
        }, 1000);
      });
    }
  };
  document.addEventListener("DOMContentLoaded", attachHamburgerEventListener);
</script>

<header class={`relative top-0 z-[10]`} data-bg-color={bgColor}>
  <div
    class={`mx-auto w-[80%] sm:w-[90%] flex content-center flex-row justify-between items-center py-6 `}
  >
    <a href=`/${lowercasedName}/projects`>
      {
        isThriftStudio ? (
          <LogoEvelinDark />
        ) : lowercasedName === "evelin" ? (
          <LogoEvelin />
        ) : (
          <LogoBarna />
        )
      }
    </a>

    <PersonLinks
      lowercasedName={lowercasedName}
      className="hidden lg:flex xl:flex-row gap-[20px]"
      color={color}
    />

    <IconHamburger
      name={lowercasedName}
      className="lg:hidden h-full flex flex-col justify-center hamburger-icon z-[150] relative cursor-pointer"
      color={color}
    />
  </div>
</header>
