---
import IconArrowResponsive from "./IconArrowResponsive.astro";

interface Props {
  text: string;
  arrowColor: string;
  arrowBgColor: string;
  invertArrow?: boolean;
  className?: string;
  strokeWidth: string;
}

const { arrowColor, arrowBgColor, className, invertArrow, text, strokeWidth } =
  Astro.props;
---

<div class={`flex items-center gap-[10px] ${className}`}>
  <span style={{ color: arrowColor }}>
    {text}
  </span>

  <div class={`${!invertArrow ? "scale-x-[-1]" : ""}`}>
    <IconArrowResponsive
      strokeWidth={strokeWidth}
      color={arrowColor}
      bgColor={arrowBgColor}
    />
  </div>
</div>
