---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import TextWithArrow from "./TextWithArrow.astro";

interface Props {
  imgClass?: string;
  source: ImageMetadata;
  name: string;
  arrowColor: string;
  arrowBg: string;
  className: string;
  imgHeight: string;
  imgWidth: string;
  link: string;
}

const {
  imgClass,
  source,
  name,
  arrowColor,
  arrowBg,
  className,
  imgHeight,
  imgWidth,
  link,
} = Astro.props;
---

<article class={className}>
  <a href={link}>
    <Image
      src={source}
      alt={`project preview image of my ${name.toLowerCase()} project object-cover`}
      width={+imgWidth}
      height={+imgHeight}
      class={imgClass}
    />
    <p
      class="uppercase text-right font-['Jost'] text-[19px] font-bold text-[#F2F3E3] whitespace-nowrap mt-[32px]"
    >
      {name}
    </p>
    <TextWithArrow
      arrowColor={arrowColor}
      arrowBgColor={arrowBg}
      className="justify-end mt-[12px]">View Project</TextWithArrow
    >
  </a>
</article>
