---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import TextWithArrow from "./TextWithArrow.astro";

interface Props {
  imgClass?: string;
  source: ImageMetadata;
  name: string;
  arrowColor: string;
  arrowBg: string;
  className: string;
}

const { imgClass, source, name, arrowColor, arrowBg, className } = Astro.props;
---

<article class={className}>
  <Image
    src={source}
    alt={`project preview image of my ${name.toLowerCase()} project`}
    class={imgClass}
  />
  <p
    class="uppercase text-right text-[20px] font-bold font-['Jost'] text-[#F2F3E3]"
  >
    {name}
  </p>
  <TextWithArrow
    arrowColor={arrowColor}
    arrowBgColor={arrowBg}
    className="justify-end">View Project</TextWithArrow
  >
</article>
